/* wow */
.wow {
  visibility: hidden;
}
/*footer */
.bg-black {
  background: black;
  padding-top: 1em;
}
.bg-black p {
  color: #cccccc;
}
/* legal */
.legal {
  height: 85vh;
}
/* Low Constrast */
body {
  background-color: rgb(228, 228, 228);
  padding-top: 50px;
  overflow-x: hidden;
}
p, h1, h2 ,h3, h4, h5, h6, li {
  color: rgb(36, 36, 36);
  line-height: 1.6em;
  font-family: 'EarthboundRegular', sans-serif;
}
/* background images */
.bg-light-road {
  background: url("../img/animated-traffic.gif") no-repeat center;
}
.bg-laptop {
  background: url("../img/bg-laptop.jpg") no-repeat center;
  padding: 0;
  height: 30%;
}
.bg-desktop {
  background: url("../img/bg-desktop.jpg") no-repeat center;
  padding: 0;
  height: 30%;
}
/* animations */
.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.grow-less:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.move-up:hover {
  transform: translateY(-7px);
  transition: all 0.3s ease;
}

/* home page */
a.novis:hover {
  text-decoration: none;
}
nav {
  margin: 0;
  line-height: 0;
}
nav {
  display: flex;
  justify-content: center;
}
.fix-padding {
  padding-top: 12.5px;
}
.librebook-showcase {
  background: black;
  background: -moz-radial-gradient(center, ellipse cover, #424242 0%, #262626 99%);
  background: -webkit-radial-gradient(center, ellipse cover, #424242 0%,#262626 99%);
  background: radial-gradient(ellipse at center, #424242 0%,#262626 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#262626',GradientType=1 );
  height: 100vh;
}
.bg-black-grad {
  background: -moz-radial-gradient(center, ellipse cover, #424242 0%, #262626 99%);
  background: -webkit-radial-gradient(center, ellipse cover, #424242 0%,#262626 99%);
  background: radial-gradient(ellipse at center, #424242 0%,#262626 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#262626',GradientType=1 );
}
.librebook-showcase p, .librebook-showcase h2{
  color: white;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.librebook-showcase img {
  opacity: 0;
  animation: 1.5s ease-in 0s 1 fadein;
  animation-fill-mode: forwards;
}
.librebook-showcase h2 {
  opacity: 0;
  animation: 2s ease-in 1s 1 fadein;
  animation-fill-mode: forwards;
  font-family: 'EarthboundRegular', sans-serif;
  font-size: 3em;
  color: #dddddd;
}
.librebook-showcase p {
  opacity: 0;
  animation: 2s ease-in 1.5s 1 fadein;
  animation-fill-mode: forwards;
  font-family: 'EarthboundRegular', sans-serif;
  font-size: 1.3em;
  color: #666666;
}
.librebook-showcase a:visited, .librebook-showcase a:hover, .librebook-showcase a:focus, .lbreos9-cont a:visited, .libreos9-cont a:hover, .libreos9-cont a:focus,  {
  height: 100vh;
  text-decoration: none;
}
.container {
  max-width: 800px;
}
.libreos9-cont {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.libreos9-cont * {
  font-family: 'EarthboundRegular', sans-serif;
}
.libreos9-cont h1 {
  color: #eee;
  font-weight: bold;
}
.libreos9-cont h3 {
  color: #eee;
  font-weight: 500;
}
.whoarewe {
  height: 65vh;
  background: #338aa1;
}
.whoarewe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whoarewe img {
  height: 25em;
}
.whoarewe h2 {
  color: #cccccc;
  font-size: 52px;
}
.whoarewe p {
  font-size: 16px;
  color: #444444;
  line-height: 2.2em;
}
.whoarewe.text {
  display: flex;
  justify-content: center;
  align-content: center;
}
.featured .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.featured {
  height: 50vh;
  background: #a9db80;
  background: -moz-linear-gradient(-45deg, #a9db80 0%, #96c56f 100%);
  background: -webkit-linear-gradient(-45deg, #a9db80 0%,#96c56f 100%);
  background: linear-gradient(135deg, #a9db80 0%,#96c56f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=1 );
}
.featured h1 {
  color: #cccccc;
  font-size: 40px;
}
.featured p {
  color: #444444;
  font-size: 20px;
}
.bg-blue-grad {
  background: #64d3f4;
  background: -moz-linear-gradient(-45deg, #64d3f4 1%, #0fb4e7 71%);
  background: -webkit-linear-gradient(-45deg, #64d3f4 1%,#0fb4e7 71%);
  background: linear-gradient(135deg, #64d3f4 1%,#0fb4e7 71%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64d3f4', endColorstr='#0fb4e7',GradientType=1 );
}

/* title */
.title {
  height: 100vh;
}
.title.librebooks {
  background: url('../img/laptop-outside.jpg') center no-repeat;
}
.title.librestation {
  background: url('../img/librestation-inside.jpeg')
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title h1 {
  font-family: 'EarthboundRegular', sans-serif;
  font-size: 6em;
  color: white;
}
/* prices and description*/
.price {
  border: 1px solid #58d079;
  border-radius: 1.3em;
  padding: 6px;
  font-family: 'EarthboundRegular', sans-serif;
  color: #58d079;
  width: 50%;
  font-size: 17px;
  cursor: default;
}
.price:hover {
  color: #9fe8b3;
  border-color: #9fe8b3;
}
.price-blue {
  color: #006AFE;
  border-color: #006AFE;
}
.price-blue:hover {
  color: #8bb6f2;
  border-color: #8bb6f2;
}
.description {
  color: #666666;
}

/* libre os */
.os-header {
  height: 100vh;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #292b39;
}
.os-header h1 {
  font-size: 3.7em;
  color: #ccc;
  margin-bottom: 0.8em;
}
.os-header .os-container{
  max-width: 900px;
}
.os-summary {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  /* background: #27b992; */
}
.os-summary h3 {
  color: #fff;
  font-size: 2.1em;
}
.os-feature-header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #58d079;
  font-family: "EarthboundRegular", Arial, sans-serif;
}
.os-feature-header h3 {
  color: #fff;
  font-size: 3.6em;
}
.os-feature {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "EarthboundRegular", sans-serif;
  }
  .os-feature h2 {
    color: white;
    font-family: "EarthboundRegular", sans-serif;
    font-size: 2.8em;
    line-height: 1.2em;
  }
  .os-feature p {
    font-family: 'EarthboundRegular', sans-serif;
    color: white;
    font-size: 16px;
    line-height: 2em;
  }
  .os-feature.os-sandboxing {
    background: #764bd2;
  }
  .os-feature.os-security img {
    padding: 4em;
  }
  .os-feature.os-security {
    background: #12cddf;
  }
  .os-feature.os-filesystem img {
    padding: 5em;
  }
  .os-feature.os-filesystem {
    background: #646a69;
  }
.os-software {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EarthboundRegular', sans-serif;
  background: #e4e4e4;
}
.os-software h2 {
  font-size: 3.2em;
}
.os-software p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 3.6em;
}
.back-image{
  z-index: -1;
  position: fixed;
  top: -30vh;
}

/* philosophy */
.title.philosophy {
  background: url('../img/free-bird.jpg') center no-repeat;
}
.librebooks-section.philosophy {
  font-size: 2em;
}
.four-freedoms {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #57ce77;
  font-family: "EarthboundRegular", sans-serif;
}
.four-freedoms h2 {
  font-size: 3em;
  color: #eee;
}
.four-freedoms p, .philosophy p {
  font-size: 1.3em;
  line-height: 2.4em;
	color: #666666;
}
/* sections */
.librebooks-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teal-background {
  background: #58d079;
}
.black-background {
  background: black;
}
.blue-background {
  background: #58ccd0;
}
.dark-blue-background {
  background: #006AFE;
}
.dark-blue-background div div p {
  color: #dddddd;
  margin-top: 1.4em;
}
.dark-green-background {
  background: #1ab42e;
}
.container.section {
  max-width: 800px;
  display: flex;
}
.librebooks-section .picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.librebooks-section h2 {
  font-family: "EarthboundRegular", sans-serif;
  color: white;
  font-size: 2.8em;
  line-height: 1.2em;
}
.librebooks-section p {
  font-family: 'EarthboundRegular', sans-serif;
  color: #666666;
  font-size: 16px;
  line-height: 2em;
}

/* background graphics */
.librebooks-section h2, .librebooks-section p, .librebooks-section img {
  z-index: 2;
}
.background-svg {
  z-index: 1;
}

/* no gutters */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Custom Responsive Design */
@media screen and (min-width: 1370px) {
  .os-summary {
    height: 40vh;
  }
}
