.login-back{height:calc(100vh - 90px);height:100%;width:100%;-ms-background-position-x:center;-ms-background-position-y:center;background-position:center center;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);}
.login-front{margin:calc(50vh - 267px) 0px;opacity:1.0;background-color:rgba(255, 255, 255, 0.8);text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);}
.login-transparent{opacity:1.0;}
.fblike-box{padding:0px 10px;clear:both;text-align:center;}
.fblike-hert{font-size:28px;color:#CFCFCF;vertical-align:sub;text-shadow:1px 2px 3px rgba(0, 0, 0, 0.5);}
.fblike-text{font-size:25px;color:#CFCFCF;vertical-align:sub;}
.light-text{color:#CFCFCF;}
.fb_iframe_widget{top:2px;}
.categories-footer{max-width:350px;}
.categories-footer a:hover{border-bottom:1px solid #F5F5F5;}
.categories-footer a:active{text-decoration:underline;}
.ad-space{clear:both;min-height:25px;}
.popular-resolution li{float:none;margin:3px auto;border-right:1px #CFCFCF solid;width:25%;min-width:150px;display:inline-block;}
.fb-like{margin-right:8px;display:inline-block;}
.flag-en{padding-right:25px;background:url(/pixnio-css-js/flags/en.png) no-repeat center center;}
.flag-fr{padding-right:25px;background:url(/pixnio-css-js/flags/fr.png) no-repeat center center;}
.flag-de{padding-right:25px;background:url(/pixnio-css-js/flags/de.png) no-repeat center center;}
.flag-es{padding-right:25px;background:url(/pixnio-css-js/flags/es.png) no-repeat center center;}
.flag-it{padding-right:25px;background:url(/pixnio-css-js/flags/it.png) no-repeat center center;}
span.edit-line a{color:#F5F5F5 !important;}
span.edit-line{background:#01A3EA;text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);padding:0px 8px 2px 3px;color:#F5F5F5;cursor:pointer;display:table;height:auto;left:0px;position:absolute;top:30px;width:auto;font-size:15px;line-height:14px;font-style:italic;letter-spacing:1px;font-weight:bold;opacity:1;display:inline-block}
.edit-line{box-shadow:1px 1px 3px #777;border-radius:0 2px 2px 0;}
.edit-line:before{border-right:8px #01A3EA solid;border-top:16px transparent solid;content:'';left:-8px;position:absolute;}
.edit-author-info{width:140px;height:35px;border-radius:5px;box-shadow:1px 1px 3px #777;display:block;margin-left:auto;margin-right:auto;margin-top:15px;padding-top:7px;margin-bottom:auto;font-size:1.2rem;text-transform:uppercase;vertical-align:bottom;text-align:center;color:#F5F5F5;background:#01A3EA;}
.edit-author-info:hover{color:#F5F5F5;}
.colors-palette{background:url(/pixnio-css-js/colors-palette.png) no-repeat;}
.lang-item{list-style:none;}
.dropdown{position:relative;display:inline-block;color:#F5F5F5;font-size:14px;font-weight:bold;margin-right:8px;}
.dropdown-content{display:none;position:absolute;width:100px;box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.2);z-index:2;color:#F5F5F5;background:#01A3EA;}
.dropdown:hover .dropdown-content{display:block;}
.play-slideshow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:32px;position:absolute;right:8px;top:8px;display:block;margin:0 auto;padding:13px 8px 7px 10px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.8;}
.play-slideshow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.load-slideshow{width:46px;height:46px;color:#CFCFCF;position:absolute;right:170px;top:3%;display:block;margin:0 auto;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background-image:url(/pixnio-css-js/load-image.gif);border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.8;}
.download-slideshow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:32px;position:absolute;right:116px;top:3%;display:block;margin:0 auto;padding:14px 7px 6px 9px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.8;}
.download-slideshow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.resume-slideshow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:32px;position:absolute;right:62px;top:3%;display:block;margin:0 auto;padding:13px 8px 7px 10px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.8;}
.resume-slideshow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.pause-slideshow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:20px;position:absolute;right:62px;top:3%;display:block;margin:0 auto;padding:12px 7px 8px 13px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.8;}
.pause-slideshow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.stop-slideshow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:52px;position:absolute;right:8px;top:3%;display:block;margin:0 auto;padding:12px 12px 6px 8px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.8;}
.stop-slideshow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.main-pdi-image-slideshow{list-style-type:none;margin:0;padding:0;text-align:center;}
.main-pdi-image-slideshow #prev-next-arrows-slideshow{display:inline-block;height:auto;margin:auto;position:relative;width:auto;}
.main-pdi-image-slideshow #prev-next-arrows-slideshow img{padding-top:2vh;max-width:98vw;max-height:98vh;}
#prev-next-arrows-slideshow .main-pdi-image-text-slideshow{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);padding:20px 0px 5px 0px;color:#F5F5F5;cursor:pointer;display:table;height:auto;left:0;position:absolute;bottom:12px;width:100%;font-size:16px;line-height:18px;opacity:1;display:inline-block;}
#prev-next-arrows-slideshow .main-pdi-image-text-slideshow a{color:#F5F5F5;}
img{border-radius:4px;}
.register-page{max-width:550px;margin:0 auto;}
.login-text{width:100%;font-variant:small-caps;color:#777;}
.login-page-left{max-width:210px;margin:0 auto;}
.login-page-right{width:255px;margin:0 auto;}
.or-box{text-align:center;margin:0;clear:both;color:#CFCFCF;font-variant:small-caps;}
.hr-or-login{margin-bottom:0;position:relative;top:25px;height:0;border:0;border-top:1px solid #CFCFCF;}
.or-text{display:inline-block;position:relative;padding:10px;background-color:#FFF;}
.index-white{background:#FFFFFF;}
.left-arrow-index{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:55px;position:absolute;left:8px;display:block;margin:0 auto;padding:8px 10px 8px 8px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.7);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.75;}
.right-arrow-index{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:55px;position:absolute;right:8px;display:block;margin:0 auto;padding:8px 8px 10px 14px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.75;}
.left-arrow-index:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.right-arrow-index:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.home-picture{height:350px;width:100%;-ms-background-position-x:center;-ms-background-position-y:center;background-position:center center;background-size:cover;-ms-behavior:url(/backgroundsize.min.htc);}
.pixnio-text-index{margin:8px 0px;font-size:22px;line-height:18px;padding:6px 12px;text-align:center;color:#F5F5F5;text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);}
.pixnio-text-index a:hover{border-bottom:2px solid #01A3EA;color:#01A3EA;}
.searchform-index{max-width:550px;margin:0 auto;height:36px;box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.5);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);background:rgba(0, 0, 0, 0.5);border-radius:4px;}
.searchform-index .s{border:none;background:none;height:36px;float:left;padding:5px 10px;width:90%;vertical-align:bottom;font-size:16px;color:#F5F5F5;font-weight:bold;}
.searchform-index .searchsubmit{border:none;padding:0;margin-right:10px;box-shadow:none;float:right;background:none;color:#01A3EA;font-size:30px;font-weight:bold;}
.transparent-picture{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));}
span.text-content3 span{display:table-cell;text-align:center;vertical-align:middle;}
span.text-content3{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);color:#F5F5F5;font-size:11px;line-height:18px;cursor:pointer;display:table;height:auto;left:0;position:absolute;bottom:14px;border-radius:5px;width:46px;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms;}
.left-arrow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:55px;position:absolute;left:8px;top:45%;display:block;margin:0 auto;padding:8px 10px 8px 8px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.75;}
.right-arrow{width:46px;height:46px;color:#CFCFCF;font-weight:bold;line-height:18px;font-size:55px;position:absolute;right:8px;top:45%;display:block;margin:0 auto;padding:8px 8px 10px 14px;background:#CFCFCF;background:rgba(0, 0, 0, 0.5);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));border-radius:50%;text-align:center;text-decoration:none;transition:all 0.3s ease-out;box-shadow:2px 1px 2px 1px rgba(0, 0, 0, 0.7);border:1px solid rgb(119, 119, 119);border:1px solid rgba(119, 119, 119, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;opacity:0.75;}
.left-arrow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.right-arrow:hover{opacity:1;border:1px solid rgb(1, 163, 234);border:1px solid rgba(1, 163, 234, 0.5);-webkit-background-clip:padding-box;background-clip:padding-box;}
.login-social-networks{width:50%;float:left;border-right:1px solid #CFCFCF;}
.login-register{width:50%;float:right;}
.main-pdi-image{list-style-type:none;margin:0;padding:0;text-align:center;}
.main-pdi-image #prev-next-arrows{display:inline-block;height:auto;margin:auto;position:relative;width:auto;}
.main-pdi-image #prev-next-arrows img{width:100%;max-height:625px;height:auto;}
#prev-next-arrows .main-pdi-image-text{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);padding:20px 0px 5px 0px;color:#F5F5F5;cursor:pointer;display:table;height:auto;left:0;position:absolute;bottom:12px;width:100%;font-size:16px;line-height:18px;opacity:1;display:inline-block;}
#prev-next-arrows .main-pdi-image-text a{color:#F5F5F5;}
.categories-sidebar span{margin-right:12px;}
.site-header{top:0px;}
.site-header-logged-in{top:30px;}
.site-content{margin-top:43px;}
.menu{display:block;}
#page{position:relative;margin-right:auto;margin-left:auto;}
#page{clear:both;width:100%;padding:0;}
.main-header{position:fixed;margin:0 auto;width:100%;z-index:99;float:none;display:block;box-shadow:0px 0px 1px 0px #CFCFCF;}
.info-note{clear:both;padding-top:5px;}
.top{float:right;position:absolute;left:48.5%;left:calc(50% - 12px);padding-bottom:5px;}
a.toplink{display:inline-block;position:absolute;bottom:0px;width:25px;height:25px;background:url(/pixnio-css-js/top.png) no-repeat center center;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;}
.download-public-domain-image{border-left:5px solid #01A3EA;border-right:1px solid #01A3EA;font-size:14px;line-height:18px;padding:6px 12px;text-align:center;}
.category-link a{display:inline-block;padding:0px 5px;margin:3px 1px;font-size:14px;color:#01A3EA;border:1px solid #CFCFCF;border-radius:25px;transition:0.2s}
.category-link a:hover{border:1px solid #01A3EA;text-decoration:underline;}
ul.public-images{list-style-type:none;margin:0;padding:0;text-align:center;}
ul.public-images li img{padding:2px;width:320px;height:240px;}
ul.public-images li{display:inline-block;width:320px;height:240px;margin:auto;position:relative;box-shadow:0 0 3px #CFCFCF;}
#left-pdi-image-full-width ul.public-images li{width:268px;height:201px;}
#left-pdi-image-full-width ul.public-images li img{width:268px;height:201px;}
span.text-content{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);padding:20px 0px 3px 0px;color:#F5F5F5;cursor:pointer;display:table;left:0;position:absolute;bottom:0px;width:100%;font-size:16px;line-height:18px;display:inline-block}
@media screen and (min-width:450px){span.text-content{height:100%;opacity:0;}
span.text-content:hover{height:auto;opacity:1;padding-top:70%;-webkit-transition:opacity 1300ms;-moz-transition:opacity 1300ms;-o-transition:opacity 1300ms;transition:opacity 1300ms;transition-delay:300ms;}
}
@media screen and (max-width:450px){span.text-content{height:auto;opacity:1;}
}
span.text-content-category{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.6));text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);padding:20px 0px 3px 0px;color:#F5F5F5;cursor:pointer;display:table;height:auto;left:0;position:absolute;bottom:0px;width:100%;font-size:16px;line-height:18px;font-weight:bold;opacity:1;display:inline-block}
span.category-line{background:#01A3EA;text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);padding:0px 8px 2px 3px;color:#F5F5F5;cursor:pointer;display:table;height:auto;right:0px;position:absolute;top:10px;width:auto;font-size:15px;line-height:14px;font-style:italic;letter-spacing:1px;font-weight:bold;opacity:1;display:inline-block}
.category-line{box-shadow:1px 1px 3px #777;border-radius:0 2px 2px 0;}
.category-line:before{border-right:8px #01A3EA solid;border-top:16px transparent solid;content:'';left:-8px;position:absolute;}
ul.public-images2 li img{padding:2px;}
ul.public-images2{list-style-type:none;margin:2px;padding:0;text-align:center;}
ul.public-images2 li{display:inline-block;text-align:center;height:46px;margin:2px;position:relative;width:46px;}
span.text-content2 span{display:table-cell;text-align:center;vertical-align:middle;}
ul.public-images2 li:hover span.text-content2{opacity:1;}
span.text-content2{background:rgba(0, 0, 0, 0.4);background:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));background:-o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));background:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9), -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgba(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);color:#F5F5F5;font-size:11px;line-height:18px;cursor:pointer;display:table;height:auto;left:0;position:absolute;bottom:14px;border-radius:5px;width:46px;opacity:0;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms;}
.text-left{text-align:left}
.pixnio-images-title{font-size:14px;line-height:18px;padding:3px 0px 8px 0px;}
.pixnio-images-title h1{font-size:14px;line-height:18px;display:inline;}
.author-social-network-icons{border-radius:50%;box-shadow:1px 1px 3px #777;margin:5px;}
.normal-text{font-weight:inherit;}
.tag-links-box{text-align:center;}
.tag-links a{margin-right:8px;}
.tag-links a:last-child{margin-right:0px;}
.tag-links span{margin-right:8px;color:#CFCFCF;padding-right:1px;}
.tag-links span:last-child{margin-right:0px;}
.tags-footer a{color:#01A3EA !important;}
.print-size{float:left;font-size:14px;line-height:18px;clear:both;}
.title-text{color:#777;font-weight:normal;}
.home-title-text{color:#555;font-weight:normal;}
.donate-author{width:110px;height:35px;border-radius:5px;box-shadow:1px 1px 3px #777;display:block;margin-left:auto;margin-right:auto;margin-top:15px;margin-bottom:auto;background:url(/pixnio-css-js/donate.png);text-align:right;}
.donate-image-info{top:2px;max-width:85px;height:32px;border-radius:4px;box-shadow:1px 1px 3px #01A3EA;display:block;margin-left:5px;padding:4px;text-transform:capitalize;color:#F5F5F5;background:#01A3EA;}
.author-info-left{width:35%;float:left;}
.author-info-right{width:65%;float:right;}
.image-circle{border-radius:50%;box-shadow:1px 1px 3px #777;display:block;margin-left:auto;margin-right:auto;}
.image-info-align-left{float:left;margin-right:5px;}
.top-box{width:100%;}
.top-menu-box{display:inline-block;height:35px;margin-top:7px;margin-bottom:1px;float:left;width:calc(50% + 70px);}
.top-menu-box a{vertical-align:top;color:#F5F5F5 !important;font-weight:bold;padding-top:4px;margin:4px;border-bottom:2px solid #01A3EA;}
.top-menu-box a:hover{border-bottom:2px solid #F5F5F5;}
.logo{float:right;margin-bottom:-1px;}
.logo a:hover{border-bottom:2px solid #01A3EA;}
.upload-button{margin-left:2px;background:#F5F5F5;color:#01A3EA;height:28px;border-radius:4px;padding:5px 1px;text-align:center;box-shadow:1px 1px 3px #CFCFCF;}
.upload-button a{color:#01A3EA !important;border-bottom:2px solid #F5F5F5;}
.upload-button a:hover{border-bottom:2px solid #01A3EA;}
.clear-left{clear:left;}
.public-popular-sidebar{margin:10px 0px;clear:both;}
.image-resolution{margin:4px 8px;text-align:center;display:inline-block;}
.public-domain a{color:#555;}
.clear-both{clear:both;}
.luminosity-of-color-out{float:left;text-align:center;width:100%;margin:5px 0;}
.luminosity-of-color-box{float:left;width:10%;height:30px;box-shadow:1px 1px 3px #777;}
.luminosity-of-color-box:first-child{border-top-left-radius:15px;border-bottom-left-radius:15px;box-shadow:1px 1px 3px #777;}
.luminosity-of-color-box:last-child{border-top-right-radius:15px;border-bottom-right-radius:15px;box-shadow:1px 1px 3px #777;}
.public-image-color-palette{float:right;width:18px;height:18px;border-radius:50%;border:1px solid #CFCFCF;border:1px solid rgba(207, 207, 207, 0.5);}
.image-colors-text{float:left;margin-right:5px;}
.image-colors-box{float:right;}
.image-color-palette{float:left;margin-right:8px;text-align:center;width:46px;height:46px;border-radius:50%;box-shadow:1px 1px 2px #777;border:1px solid #01A3EA;line-height:18px;font-size:11px;text-shadow:1px 1px #F5F5F5;vertical-align:text-bottom;}
.image-color-palette-div{margin-right:8px;text-align:center;width:46px;height:46px;border-radius:50%;box-shadow:1px 1px 2px #01A3EA;line-height:18px;font-size:11px;padding:11px 0px;}
.image-color-palette-div:hover{text-decoration:underline;border:1px solid #01A3EA;}
.image-color-palette-div-popular{float:left;margin:4px;text-align:center;width:46px;height:46px;border-radius:50%;box-shadow:1px 1px 2px #01A3EA;line-height:18px;font-size:11px;padding:11px 0px;}
.image-color-palette-div-popular:hover{text-decoration:underline;border:1px solid #01A3EA;}
.image-color-palette:last-child{margin-right:0px;}
.image-color-palette:hover{text-decoration:underline;}
.image-color-out{line-height:20px;}
.image-color{float:left;margin-right:8px;width:18px;height:18px;border-radius:50%;border:1px solid rgba(207, 207, 207, 0.5);}
.image-download{border:1px solid #F5F5F5;font-weight:bold;font-size:16px;border-radius:4px;padding:4px 6px;margin-right:5px;box-shadow:0 0 3px #777;}
.image-download:hover{border:1px solid #01A3EA;background-color:#F5F5F5;box-shadow:0 0 3px #01A3EA;}
.public-social-buttons a{margin-right:5px;}
.public-image-info{border-left:1px solid #CFCFCF;padding:7px 5px;float:left;font-size:14px;line-height:18px;margin-bottom:5px;}
#left-pdi-image-full-width .public-image-info{padding:8px 10px;}
.public-image-information{padding:7px 5px;float:left;font-size:14px;line-height:18px;margin-bottom:5px;}
.public-domain-image{font-size:14px;line-height:18px;text-align:center;}
.pixnio-thumbnails{clear:both;}
.subalbum-thumbnail{border-left:5px solid #01A3EA;font-size:14px;line-height:18px;padding:6px 12px;clear:both;border-right:1px solid #01A3EA;}
.subalbum-links{border-left:5px solid #01A3EA;font-size:14px;line-height:18px;padding:6px 12px;clear:both;border-right:1px solid #01A3EA;}
.subalbum-links a{margin-left:10px;}
.under-pixnio-thumbnail{clear:both;}
.paging-navigation{border-bottom:5px solid #01A3EA;padding-top:5px;box-shadow:0 0 3px #CFCFCF;}
.paging-navigation a:hover{border-top:5px solid #01A3EA;}
.paging-navigation .page-numbers{border-top:5px solid transparent;border-bottom:5px solid transparent;display:inline-block;font-size:14px;margin-right:1px;padding:6px 16px;}
.paging-navigation .page-numbers.current{border-top:5px solid #01A3EA;font-weight:bold;}
.public-text-blue{color:#01A3EA;}
.public-text-info{color:#777;}
.pixnio-footer-title{font-size:20px;}
.pixnio-left-right{padding:32px 0px;font-size:14px;line-height:18px;}
.pixnio-left{float:left;border-left:5px solid #CFCFCF;padding:6px 0px 6px 12px;}
.pixnio-right{float:right;border-right:5px solid #CFCFCF;padding:6px 12px 6px 0px;}
.more-pixnio-images{border-left:5px solid #CFCFCF;border-right:1px solid #CFCFCF;font-size:14px;line-height:18px;padding:6px 12px;}
.pixnio-images-info{color:#777;border-left:5px solid #CFCFCF;border-right:1px solid #CFCFCF;font-size:14px;line-height:18px;padding:6px 12px;}
.pixnio-text{border-left:5px solid #01A3EA;border-right:1px solid #01A3EA;font-size:14px;line-height:18px;padding:6px 12px;}
.pixnio-text a:hover{border-bottom:2px solid #01A3EA;color:#01A3EA;}
.pixnio-text-span{margin:0 auto;}
.centered-text{text-align:center;}
.ad{clear:both;margin:8px 0px;text-align:center;}
#masthead{background:#01A3EA;}
#bottom-section-blue-gray-line{background:#01A3EA;height:5px;}
#bottom-section .pixnio-footer-text ul li{margin-left:25px;position:relative;margin-bottom:5px;line-height:1.4;}
#bottom-section .pixnio-footer-text ul li a:hover{border-bottom:1px solid #F5F5F5;}
#bottom-section .pixnio-footer-text{width:auto;margin:0 17% 0 0;float:left;}
#bottom-section .pixnio-footer-text:last-child{margin:0;}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
*,
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{background:#FFF;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section{display:block;}
ol,
ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,
th,
td{font-weight:normal;text-align:left;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
blockquote,
q{quotes:"" "";}
a:focus{outline:0;}
a:hover,
a:active{outline:0;}
a img{border:0;}
body,
button,
input,
select,
textarea{color:#555;font-family:'Open Sans', sans-serif;font-size:15px;line-height:1.8;font-weight:300;}
h1,
h2,
h3,
h4,
h5,
h6{clear:both;font-weight:normal;font-family:'Lato', sans-serif;line-height:1.3;margin-bottom:5px;color:#555;font-weight:300;}
p{margin-bottom:20px;}
b,
strong{font-weight:bold;}
dfn,
cite,
em,
i{font-style:italic;}
blockquote{margin:0 15px;font-size:20px;font-style:italic;font-family:'Lato', sans-serif;font-weight:300;}
address{margin:0 0 15px;}
pre{background:#CFCFCF;font-family:"Courier 10 Pitch", Courier, monospace;font-size:15px;font-size:1.5rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em;}
code,
kbd,
tt,
var{font:11px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;text-align:left;word-wrap:break-word;}
abbr,
acronym{border-bottom:1px dotted #555;cursor:help;}
mark,
ins{text-decoration:none;}
sup,
sub{font-size:75%;height:0;line-height:0;position:relative;vertical-align:baseline;}
sup{bottom:1ex;}
sub{top:.5ex;}
small{font-size:75%;}
big{font-size:125%;}
h1{font-size:30px;}
h2{font-size:26px;}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}
hr{background-color:#CFCFCF;border:0;height:1px;margin-bottom:15px;}
ul,
ol{margin:0 0 15px 20px;}
ul{list-style:circle;}
ol{list-style:decimal;}
li > ul,
li > ol{margin-bottom:0;margin-left:15px;}
dt{font-weight:bold;}
dd{margin:0 15px 15px;}
img{height:auto;max-width:100%;}
figure{margin:0;}
table{margin:0 0 15px;width:100%;border-collapse:collapse;}
th{font-weight:bold;border:1px solid #CFCFCF;padding:5px 10px;}
td{border:1px solid #CFCFCF;padding:5px 10px;}
button,
input,
select,
textarea{font-size:100%;margin:0;vertical-align:middle;}
.navigation .nav-links a,
.bttn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{background:#555;color:#FFF;cursor:pointer;font-size:13px;font-size:1.2rem;line-height:1;text-transform:uppercase;border:none;padding:8px 15px;font-weight:normal;display:inline-block;position:relative;}
.bttn:after{content:"";background:#01A3EA;height:3px;width:0%;transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;position:absolute;left:0;bottom:-3px;}
.bttn:hover:after{width:100%;}
.bttn:hover{color:#FFF;}
.navigation .nav-links a:hover,
.bttn:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover{color:#FFF;}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active{}
input[type="checkbox"],
input[type="radio"]{padding:0;}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{color:#555;border:1px solid #CFCFCF;border-radius:3px;height:36px;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus{border:1px solid #CFCFCF;}
.searchform input[type="text"]:focus{border:none;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"]{padding:3px 6px;}
textarea{overflow:auto;padding-left:3px;vertical-align:top;color:#555;border:1px solid #CFCFCF;border-radius:3px;height:160px;max-width:100%;}
a{color:#01A3EA;text-decoration:none;transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;}
a:focus,
a:active{color:#01A3EA;}
a:hover{color:#01A3EA;border-bottom:1px solid #01A3EA;}
.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important;}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus{background-color:#F5F5F5;border-radius:3px;box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.6);clip:auto !important;color:#01A3EA;display:block;font-size:14px;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}
.alignleft{display:inline;float:left;margin-right:15px;}
.alignright{display:inline;float:right;margin-left:15px;}
.aligncenter{clear:both;display:block;margin:0 auto;}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.ak-container:after,
.ak-container:before{content:'';display:table;}
.clearfix:after,
.row:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.ak-container:after{clear:both;}
h1.entry-title{color:#01A3EA;font-weight:bold;}
h1.entry-title a{color:#01A3EA;}
h1.entry-title a:hover{border-bottom:2px solid #01A3EA;}
.hentry{margin:0 0 15px;}
.edit-link .post-edit-link{background:#333;padding:4px 10px;color:#FFF !important;line-height:1;border-radius:3px;font-size:13px;}
.edit-link .post-edit-link:before{font-family:FontAwesome;margin-right:5px;}
article.hentry .edit-link{display:block;margin-top:20px;}
article.hentry h1.entry-title{margin-bottom:5px;line-height:1.2;}
article.hentry .entry-footer > span{margin-right:15px;font-size:13px;}
.entry-footer a{color:#777;}
.entry-footer a:hover{color:#01A3EA;}
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;}
.wp-caption{border:1px solid #CFCFCF;margin-bottom:15px;max-width:100%;}
.wp-caption img[class*="wp-image-"]{display:block;margin:1.2% auto 0;max-width:98%;}
.wp-caption-text{text-align:center;}
.wp-caption .wp-caption-text{margin:10px 0;}
embed,
iframe,
object{max-width:100%;}
.ak-container{max-width:1650px;margin:0 auto;padding:0px 5px;}
.search-box{margin-top:7px;width:275px;float:right;}
.searchform{height:28px;border:2px solid #F5F5F5;background:#FFF;border-radius:4px;}
.searchform .s{border:none;background:none;height:28px;float:left;padding:0px 5px 0px 5px;width:90%;vertical-align:bottom;font-size:14px;}
.searchform .searchsubmit{border:none;padding:0px 10px 0px 0px;box-shadow:none;float:right;background:none;color:#01A3EA;font-size:26px;font-weight:bold;}
.sidebar .searchform{width:100%;margin:0;}
.sidebar .searchform .s{width:80%;}
#bottom-section{background:#01A3EA;color:#F5F5F5;padding:5px 0;margin-top:15px;}
#bottom-section a{color:#F5F5F5;}
#colophon{background:#555;}
.site-footer a{color:#01A3EA;}
.site-footer a:hover{border-bottom:1px solid #01A3EA;}
#bottom-footer{background:#333;padding:5px 0;font-family:'Lato', sans-serif;color:#CFCFCF;font-weight:300;}
#content{padding:0px;text-align:justify;}
#primary{width:100%;float:left;padding:5px;background:#FFF;}
#primary-wrap{float:left;width:100%}
.no-sidebar #primary{width:100%;float:none;}
.sidebar{max-width:385px;float:right;padding:5px 0px;background:#FFF;}
.sidebar.right-sidebar{float:right;}
.pdi-sidebar{width:100%;float:right;padding:5px 0px;background:#FFF;}
.left-pdi{width:calc(100% - 390px);float:left;padding:5px 0px;background:#FFF;display:inline-block;}
#left-pdi-image-full-width{width:100%;}
.right-pdi{width:385px;padding:5px 0px;margin-left:5px;display:inline-block;}
@media screen and (min-width:1515px){#bottom-section .pixnio-footer-text{width:auto;margin:0 20% 0 0;float:left;}
}
@media screen and (min-width:1275px){.left-arrow-index{top:147px;}
.right-arrow-index{top:147px;}
}
@media only screen and (min-width:1020px){.definition-margin{margin-top:20px;}
.margin-top{margin-top:84px;clear:both;}
.pixnio-text-index{margin:20px 0px;}
.home-picture{height:340px;}
}
@media screen and (max-width:1380px){#bottom-section .pixnio-footer-text{margin:0 14% 0 0;}
}
@media screen and (max-width:1275px){.login-back{height:calc(100vh - 161px);}
.login-front{margin:calc(50vh - 303px) 0px;}
.ad-image{max-height:100px;}
.public-image-info{padding:8px;}
.public-image-information{padding:8px;}
.left-arrow-index{top:255px;}
.site-header-logged-in{top:0px;}
.right-arrow-index{top:255px;}
#page{max-width:100%;width:100%;margin:0 auto;background:#FFF;box-shadow:0 0 1px #777;}
.site-content{margin-top:0px;}
#page{clear:both;padding:0;}
.main-header{position:relative;}
.left-pdi{width:auto;margin:0 auto;box-shadow:none;}
.left-pdi-image{width:calc(100% - 390px);float:none;}
.right-pdi{width:385px;float:right;box-shadow:none;margin:0px;}
.right-pdi-down{width:100%;}
.pdi-sidebar{max-width:100%;}
.top-public-text{display:inline-block;}
.boxed-layout #page{width:100%;}
.ak-container{width:100%;padding:0px 10px;}
span.text-content2{opacity:1;}
.tag-links-box{text-align:left;}
#primary-wrap{float:none;width:auto;}
#primary,
.left-sidebar #primary,
.both-sidebar #primary,
.both-sidebar #primary-wrap .sidebar,
.both-sidebar .sidebar{float:none;width:auto;margin-bottom:25px;}
.sidebar,
.sidebar.left-sidebar{width:auto;float:none;}
.logo{width:100%;text-align:center;}
.top-box{width:100%;text-align:center;}
.top-menu-box{width:100%;text-align:center;height:64px;}
.search-box{width:100%;margin-bottom:5px;}
#bottom-section .pixnio-footer-text{margin:0 11% 0 0;}
}
@media screen and (max-width:1175px){#bottom-section .pixnio-footer-text{margin:0 9% 0 0;}
}
@media screen and (max-width:1115px){#bottom-section .pixnio-footer-text{margin:0 7% 0 0;}
}
@media screen and (max-width:1065px){#bottom-section .pixnio-footer-text{margin:0 4% 0 0;}
}
@media only screen and (max-width:1020px){.margin-top{margin-top:80px;}
}
@media screen and (max-width:995px){#bottom-section .pixnio-footer-text{margin:0 2% 0 0;}
}
@media screen and (max-width:955px){#bottom-section .pixnio-footer-text{width:100%;margin:0;float:none;}
.categories-footer{max-width:100%;}
}
@media screen and (max-width:850px){.left-pdi-image{width:100%;}
.right-pdi{width:100%;}
.image-colors-text{width:65px;}
.public-image-info{padding:8px 10px;}
.public-image-information{padding:8px 10px;}
.ad{max-height:100px;}
.pixnio-images-title{line-height:24px;}
}
@media screen and (max-width:1665px){ul.public-images span.text-content{bottom:10px;}
ul.public-images span.text-content-category{bottom:10px;}
ul.public-images li{width:calc(20% - 5px);height:100%;}
ul.public-images li img{width:100%;height:calc(95vw/20 * 3);}
#left-pdi-image-full-width ul.public-images li{width:calc(20% - 5px);height:100%;}
#left-pdi-image-full-width ul.public-images li img{width:100%;height:calc(95vw/20 * 3);}
}
@media screen and (max-width:1500px){ul.public-images li{width:calc(25% - 5px);height:100%;}
ul.public-images li img{width:100%;height:calc(95vw/16 * 3);}
#left-pdi-image-full-width ul.public-images li{width:calc(25% - 5px);height:100%;}
#left-pdi-image-full-width ul.public-images li img{width:100%;height:calc(95vw/16 * 3);}
}
@media screen and (max-width:1150px){ul.public-images li{width:calc(33.3% - 5px);height:100%;}
ul.public-images li img{width:100%;height:calc(95vw/12 * 3);}
#left-pdi-image-full-width ul.public-images li{width:calc(33.3% - 5px);height:100%;}
#left-pdi-image-full-width ul.public-images li img{width:100%;height:calc(95vw/12 * 3);}
}
@media screen and (max-width:800px){ul.public-images li{width:calc(50% - 5px);height:100%;}
ul.public-images li img{width:100%;height:calc(95vw/8 * 3);}
#left-pdi-image-full-width ul.public-images li{width:calc(50% - 5px);height:100%;}
#left-pdi-image-full-width ul.public-images li img{width:100%;height:calc(95vw/8 * 3);}
}
@media screen and (max-width:450px){ul.public-images li{width:100%;min-height:200px;height:auto;}
ul.public-images li img{width:100%;min-height:200px;height:calc(95vw/4 * 2.8);}
#left-pdi-image-full-width ul.public-images li{width:100%;min-height:200px;height:auto;}
#left-pdi-image-full-width ul.public-images li img{width:100%;min-height:200px;height:calc(95vw/4 * 2.8);}
}
@media screen and (max-width:780px){.login-back{height:auto;}
.login-front{margin:auto;}
.login-social-networks{width:100%;float:none;border-right:0px;border-bottom:1px solid #CFCFCF;padding-bottom:20px;}
.login-register{width:100%;float:none;padding-top:20px;}
}
@media screen and (max-width:745px){.left-arrow{top:44%;}
.right-arrow{top:44%;}
}
@media screen and (max-width:720px){.margin-top{margin-top:55px;}
.searchform-index{width:100%;}
.left-arrow-index{top:150px;}
.right-arrow-index{top:150px;}
}
@media screen and (max-width:600px){.image-colors-text{width:auto;}
.left-arrow{top:43%;}
.right-arrow{top:43%;}
}
@media screen and (max-width:580px){h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:20px;}
h4{font-size:18px;}
h5{font-size:16px;}
h6{font-size:14px;}
.author-info-left{width:100%;}
.author-info-right{width:100%;}
.gps-map img{width:100%;height:auto;}
}
@media screen and (max-width:550px){.left-arrow{top:42%;}
.right-arrow{top:42%;}
}
@media screen and (max-width:450px){.left-arrow{top:40%;}
.right-arrow{top:40%;}
.image-download{display:block;text-align:center;margin-bottom:8px;}
span.pixnio-text-span{display:block;text-align:center;}
}
@media only screen and (max-width:430px){.pixnio-text-index{font-size:18px;}
}
@media only screen and (max-width:380px){.pixnio-text-index{font-size:16px;font-weight:bold;}
.margin-top{margin-top:30px;}
}
@media only screen and (max-width:350px){.pixnio-text-index{font-size:14px;font-weight:normal;}
.margin-top{margin-top:25px;}
.left-arrow{top:38%;}
.right-arrow{top:38%;}
}
@media only screen and (max-width:320px){.pixnio-text-index{font-size:12px;}
.searchform-index .s{width:80%;}
}
.max-width{max-width:2850px;}
ul.public-images-home span.text-content{bottom:10px;}
ul.public-images-home li img{padding:2px;}
ul.public-images-home{list-style-type:none;margin:0;padding:0;text-align:center;}
ul.public-images-home li{display:inline-block;margin:auto;position:relative;box-shadow:0 0 3px #CFCFCF;}
@media screen and (min-width:1501px){ul.public-images-home li{width:calc(20% - 5px);height:100%;}
ul.public-images-home li img{width:100%;height:calc(95vw/20 * 3);}
}
@media screen and (min-width:2250px){ul.public-images-home li{width:calc(16.6% - 5px);height:100%;}
ul.public-images-home li img{width:100%;height:calc(95vw/24 * 3);max-height:300px;}
}
@media screen and (min-width:2650px){ul.public-images-home li{width:calc(14.25% - 5px);height:100%;}
ul.public-images-home li img{width:100%;height:calc(95vw/24 * 3);max-height:300px;}
}
@media screen and (max-width:1500px){ul.public-images-home li{width:calc(25% - 5px);height:100%;}
ul.public-images-home li img{width:100%;height:calc(95vw/16 * 3);}
}
@media screen and (max-width:1150px){ul.public-images-home li{width:calc(33.3% - 5px);height:100%;}
ul.public-images-home li img{width:100%;height:calc(95vw/12 * 3);}
}
@media screen and (max-width:800px){ul.public-images-home li{width:calc(50% - 5px);height:100%;}
ul.public-images-home li img{width:100%;height:calc(95vw/8 * 3);}
}
@media screen and (max-width:450px){ul.public-images-home li{width:100%;min-height:200px;height:auto;}
ul.public-images-home li img{width:100%;min-height:200px;height:calc(95vw/4 * 2.8);}
}