html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
.hidden,[hidden]{display:none !important}
.pure-img{max-width:100%;height:auto;display:block}
.pure-button{display:inline-block;zoom:1;line-height:normal;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.pure-button::-moz-focus-inner{padding:0;border:0}
.pure-button{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:0 rgba(0,0,0,0);background-color:#E6E6E6;text-decoration:none;border-radius:2px}
.pure-button-hover,.pure-button:hover,.pure-button:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#1a000000',GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}
.pure-button:focus{outline:0}
.pure-button-active,.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}
.pure-button[disabled],.pure-button-disabled,.pure-button-disabled:hover,.pure-button-disabled:focus,.pure-button-disabled:active{border:0;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:alpha(opacity=40);-khtml-opacity:.4;-moz-opacity:.4;opacity:.4;cursor:not-allowed;box-shadow:none}
.pure-button-hidden{display:none}
.pure-button::-moz-focus-inner{padding:0;border:0}
.pure-button-primary,.pure-button-selected,a.pure-button-primary,a.pure-button-selected{background-color:#0078e7;color:#fff}
.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form select,.pure-form textarea{padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.pure-form input:not([type]){padding:.5em .6em;display:inline-block;border:1px solid #ccc;box-shadow:inset 0 1px 3px #ddd;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.pure-form input[type=color]{padding:.2em .5em}
.pure-form input[type=text]:focus,.pure-form input[type=password]:focus,.pure-form input[type=email]:focus,.pure-form input[type=url]:focus,.pure-form input[type=date]:focus,.pure-form input[type=month]:focus,.pure-form input[type=time]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=week]:focus,.pure-form input[type=number]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=color]:focus,.pure-form select:focus,.pure-form textarea:focus{outline:0;border-color:#129FEA}
.pure-form input:not([type]):focus{outline:0;border-color:#129FEA}
.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus,.pure-form input[type=checkbox]:focus{outline:thin solid #129FEA;outline:1px auto #129FEA}
.pure-form .pure-checkbox,.pure-form .pure-radio{margin:.5em 0;display:block}
.pure-form input[type=text][disabled],.pure-form input[type=password][disabled],.pure-form input[type=email][disabled],.pure-form input[type=url][disabled],.pure-form input[type=date][disabled],.pure-form input[type=month][disabled],.pure-form input[type=time][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=week][disabled],.pure-form input[type=number][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=color][disabled],.pure-form select[disabled],.pure-form textarea[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}
.pure-form input:not([type])[disabled]{cursor:not-allowed;background-color:#eaeded;color:#cad2d3}
.pure-form input[readonly],.pure-form select[readonly],.pure-form textarea[readonly]{background-color:#eee;color:#777;border-color:#ccc}
.pure-form input:focus:invalid,.pure-form textarea:focus:invalid,.pure-form select:focus:invalid{color:#d95353;border-color:#e9322d}
.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus,.pure-form input[type=checkbox]:focus:invalid:focus{outline-color:#e9322d}
.pure-form select{height:2.25em;border:1px solid #ccc;background-color:#fff}
.pure-form select[multiple]{height:auto}
.pure-form label{margin:.5em 0 .2em}
.pure-form fieldset{margin:0;padding:.35em 0 .75em;border:0}
.pure-form legend{display:block;width:100%;padding:.3em 0;margin-bottom:.3em;color:#333;border-bottom:1px solid #e5e5e5}
.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked input[type=file],.pure-form-stacked select,.pure-form-stacked label,.pure-form-stacked textarea{display:block;margin:.25em 0}
.pure-form-stacked input:not([type]){display:block;margin:.25em 0}
.pure-form-aligned input,.pure-form-aligned textarea,.pure-form-aligned select,.pure-form-aligned .pure-help-inline,.pure-form-message-inline{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.pure-form-aligned textarea{vertical-align:top}
.pure-form-aligned .pure-control-group{margin-bottom:.5em}
.pure-form-aligned .pure-control-group label{text-align:right;display:inline-block;vertical-align:middle;width:10em;margin:0 1em 0 0}
.pure-form-aligned .pure-controls{margin:1.5em 0 0 11em}
.pure-form input.pure-input-rounded,.pure-form .pure-input-rounded{border-radius:2em;padding:.5em 1em}
.pure-form .pure-group fieldset{margin-bottom:10px}
.pure-form .pure-group input,.pure-form .pure-group textarea{display:block;padding:10px;margin:0 0 -1px;border-radius:0;position:relative;top:-1px}
.pure-form .pure-group input:focus,.pure-form .pure-group textarea:focus{z-index:3}
.pure-form .pure-group input:first-child,.pure-form .pure-group textarea:first-child{top:1px;border-radius:4px 4px 0 0;margin:0}
.pure-form .pure-group input:first-child:last-child,.pure-form .pure-group textarea:first-child:last-child{top:1px;border-radius:4px;margin:0}
.pure-form .pure-group input:last-child,.pure-form .pure-group textarea:last-child{top:-2px;border-radius:0 0 4px 4px;margin:0}
.pure-form .pure-group button{margin:.35em 0}
.pure-form .pure-input-1{width:100%}
.pure-form .pure-input-2-3{width:66%}
.pure-form .pure-input-1-2{width:50%}
.pure-form .pure-input-1-3{width:33%}
.pure-form .pure-input-1-4{width:25%}
.pure-form .pure-help-inline,.pure-form-message-inline{display:inline-block;padding-left:.3em;color:#666;vertical-align:middle;font-size:.875em}
.pure-form-message{display:block;color:#666;font-size:.875em}
@media only screen and (max-width:480px){.pure-form button[type=submit]{margin:.7em 0 0}
.pure-form input:not([type]),.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form label{margin-bottom:.3em;display:block}
.pure-group input:not([type]),.pure-group input[type=text],.pure-group input[type=password],.pure-group input[type=email],.pure-group input[type=url],.pure-group input[type=date],.pure-group input[type=month],.pure-group input[type=time],.pure-group input[type=datetime],.pure-group input[type=datetime-local],.pure-group input[type=week],.pure-group input[type=number],.pure-group input[type=search],.pure-group input[type=tel],.pure-group input[type=color]{margin-bottom:0}
.pure-form-aligned .pure-control-group label{margin-bottom:.3em;text-align:left;display:block;width:100%}
.pure-form-aligned .pure-controls{margin:1.5em 0 0}
.pure-form .pure-help-inline,.pure-form-message-inline,.pure-form-message{display:block;font-size:.75em;padding:.2em 0 .8em}
}
.pure-g{letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;text-rendering:optimizespeed;font-family:FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;display:-webkit-flex;-webkit-flex-flow:row wrap;display:-ms-flexbox;-ms-flex-flow:row wrap;-ms-align-content:flex-start;-webkit-align-content:flex-start;align-content:flex-start}
.opera-only:-o-prefocus,.pure-g{word-spacing:-.43em}
.pure-u{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-g [class *="pure-u"]{font-family:sans-serif}
.pure-u-1,.pure-u-1-1,.pure-u-1-2,.pure-u-1-3,.pure-u-2-3,.pure-u-1-4,.pure-u-3-4,.pure-u-1-5,.pure-u-2-5,.pure-u-3-5,.pure-u-4-5,.pure-u-5-5,.pure-u-1-6,.pure-u-5-6,.pure-u-1-8,.pure-u-3-8,.pure-u-5-8,.pure-u-7-8,.pure-u-1-12,.pure-u-5-12,.pure-u-7-12,.pure-u-11-12,.pure-u-1-24,.pure-u-2-24,.pure-u-3-24,.pure-u-4-24,.pure-u-5-24,.pure-u-6-24,.pure-u-7-24,.pure-u-8-24,.pure-u-9-24,.pure-u-10-24,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-1-24{width:4.1667%;*width:4.1357%}
.pure-u-1-12,.pure-u-2-24{width:8.3333%;*width:8.3023%}
.pure-u-1-8,.pure-u-3-24{width:12.5%;*width:12.469%}
.pure-u-1-6,.pure-u-4-24{width:16.6667%;*width:16.6357%}
.pure-u-1-5{width:20%;*width:19.969%}
.pure-u-5-24{width:20.8333%;*width:20.8023%}
.pure-u-1-4,.pure-u-6-24{width:25%;*width:24.969%}
.pure-u-7-24{width:29.1667%;*width:29.1357%}
.pure-u-1-3,.pure-u-8-24{width:33.3333%;*width:33.3023%}
.pure-u-3-8,.pure-u-9-24{width:37.5%;*width:37.469%}
.pure-u-2-5{width:40%;*width:39.969%}
.pure-u-5-12,.pure-u-10-24{width:41.6667%;*width:41.6357%}
.pure-u-11-24{width:45.8333%;*width:45.8023%}
.pure-u-1-2,.pure-u-12-24{width:50%;*width:49.969%}
.pure-u-13-24{width:54.1667%;*width:54.1357%}
.pure-u-7-12,.pure-u-14-24{width:58.3333%;*width:58.3023%}
.pure-u-3-5{width:60%;*width:59.969%}
.pure-u-5-8,.pure-u-15-24{width:62.5%;*width:62.469%}
.pure-u-2-3,.pure-u-16-24{width:66.6667%;*width:66.6357%}
.pure-u-17-24{width:70.8333%;*width:70.8023%}
.pure-u-3-4,.pure-u-18-24{width:75%;*width:74.969%}
.pure-u-19-24{width:79.1667%;*width:79.1357%}
.pure-u-4-5{width:80%;*width:79.969%}
.pure-u-5-6,.pure-u-20-24{width:83.3333%;*width:83.3023%}
.pure-u-7-8,.pure-u-21-24{width:87.5%;*width:87.469%}
.pure-u-11-12,.pure-u-22-24{width:91.6667%;*width:91.6357%}
.pure-u-23-24{width:95.8333%;*width:95.8023%}
.pure-u-1,.pure-u-1-1,.pure-u-5-5,.pure-u-24-24{width:100%}
@media screen and (min-width:35.5em){.pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-1-2,.pure-u-sm-1-3,.pure-u-sm-2-3,.pure-u-sm-1-4,.pure-u-sm-3-4,.pure-u-sm-1-5,.pure-u-sm-2-5,.pure-u-sm-3-5,.pure-u-sm-4-5,.pure-u-sm-5-5,.pure-u-sm-1-6,.pure-u-sm-5-6,.pure-u-sm-1-8,.pure-u-sm-3-8,.pure-u-sm-5-8,.pure-u-sm-7-8,.pure-u-sm-1-12,.pure-u-sm-5-12,.pure-u-sm-7-12,.pure-u-sm-11-12,.pure-u-sm-1-24,.pure-u-sm-2-24,.pure-u-sm-3-24,.pure-u-sm-4-24,.pure-u-sm-5-24,.pure-u-sm-6-24,.pure-u-sm-7-24,.pure-u-sm-8-24,.pure-u-sm-9-24,.pure-u-sm-10-24,.pure-u-sm-11-24,.pure-u-sm-12-24,.pure-u-sm-13-24,.pure-u-sm-14-24,.pure-u-sm-15-24,.pure-u-sm-16-24,.pure-u-sm-17-24,.pure-u-sm-18-24,.pure-u-sm-19-24,.pure-u-sm-20-24,.pure-u-sm-21-24,.pure-u-sm-22-24,.pure-u-sm-23-24,.pure-u-sm-24-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-sm-1-24{width:4.1667%;*width:4.1357%}
.pure-u-sm-1-12,.pure-u-sm-2-24{width:8.3333%;*width:8.3023%}
.pure-u-sm-1-8,.pure-u-sm-3-24{width:12.5%;*width:12.469%}
.pure-u-sm-1-6,.pure-u-sm-4-24{width:16.6667%;*width:16.6357%}
.pure-u-sm-1-5{width:20%;*width:19.969%}
.pure-u-sm-5-24{width:20.8333%;*width:20.8023%}
.pure-u-sm-1-4,.pure-u-sm-6-24{width:25%;*width:24.969%}
.pure-u-sm-7-24{width:29.1667%;*width:29.1357%}
.pure-u-sm-1-3,.pure-u-sm-8-24{width:33.3333%;*width:33.3023%}
.pure-u-sm-3-8,.pure-u-sm-9-24{width:37.5%;*width:37.469%}
.pure-u-sm-2-5{width:40%;*width:39.969%}
.pure-u-sm-5-12,.pure-u-sm-10-24{width:41.6667%;*width:41.6357%}
.pure-u-sm-11-24{width:45.8333%;*width:45.8023%}
.pure-u-sm-1-2,.pure-u-sm-12-24{width:50%;*width:49.969%}
.pure-u-sm-13-24{width:54.1667%;*width:54.1357%}
.pure-u-sm-7-12,.pure-u-sm-14-24{width:58.3333%;*width:58.3023%}
.pure-u-sm-3-5{width:60%;*width:59.969%}
.pure-u-sm-5-8,.pure-u-sm-15-24{width:62.5%;*width:62.469%}
.pure-u-sm-2-3,.pure-u-sm-16-24{width:66.6667%;*width:66.6357%}
.pure-u-sm-17-24{width:70.8333%;*width:70.8023%}
.pure-u-sm-3-4,.pure-u-sm-18-24{width:75%;*width:74.969%}
.pure-u-sm-19-24{width:79.1667%;*width:79.1357%}
.pure-u-sm-4-5{width:80%;*width:79.969%}
.pure-u-sm-5-6,.pure-u-sm-20-24{width:83.3333%;*width:83.3023%}
.pure-u-sm-7-8,.pure-u-sm-21-24{width:87.5%;*width:87.469%}
.pure-u-sm-11-12,.pure-u-sm-22-24{width:91.6667%;*width:91.6357%}
.pure-u-sm-23-24{width:95.8333%;*width:95.8023%}
.pure-u-sm-1,.pure-u-sm-1-1,.pure-u-sm-5-5,.pure-u-sm-24-24{width:100%}
}
@media screen and (min-width:48em){.pure-u-md-1,.pure-u-md-1-1,.pure-u-md-1-2,.pure-u-md-1-3,.pure-u-md-2-3,.pure-u-md-1-4,.pure-u-md-3-4,.pure-u-md-1-5,.pure-u-md-2-5,.pure-u-md-3-5,.pure-u-md-4-5,.pure-u-md-5-5,.pure-u-md-1-6,.pure-u-md-5-6,.pure-u-md-1-8,.pure-u-md-3-8,.pure-u-md-5-8,.pure-u-md-7-8,.pure-u-md-1-12,.pure-u-md-5-12,.pure-u-md-7-12,.pure-u-md-11-12,.pure-u-md-1-24,.pure-u-md-2-24,.pure-u-md-3-24,.pure-u-md-4-24,.pure-u-md-5-24,.pure-u-md-6-24,.pure-u-md-7-24,.pure-u-md-8-24,.pure-u-md-9-24,.pure-u-md-10-24,.pure-u-md-11-24,.pure-u-md-12-24,.pure-u-md-13-24,.pure-u-md-14-24,.pure-u-md-15-24,.pure-u-md-16-24,.pure-u-md-17-24,.pure-u-md-18-24,.pure-u-md-19-24,.pure-u-md-20-24,.pure-u-md-21-24,.pure-u-md-22-24,.pure-u-md-23-24,.pure-u-md-24-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-md-1-24{width:4.1667%;*width:4.1357%}
.pure-u-md-1-12,.pure-u-md-2-24{width:8.3333%;*width:8.3023%}
.pure-u-md-1-8,.pure-u-md-3-24{width:12.5%;*width:12.469%}
.pure-u-md-1-6,.pure-u-md-4-24{width:16.6667%;*width:16.6357%}
.pure-u-md-1-5{width:20%;*width:19.969%}
.pure-u-md-5-24{width:20.8333%;*width:20.8023%}
.pure-u-md-1-4,.pure-u-md-6-24{width:25%;*width:24.969%}
.pure-u-md-7-24{width:29.1667%;*width:29.1357%}
.pure-u-md-1-3,.pure-u-md-8-24{width:33.3333%;*width:33.3023%}
.pure-u-md-3-8,.pure-u-md-9-24{width:37.5%;*width:37.469%}
.pure-u-md-2-5{width:40%;*width:39.969%}
.pure-u-md-5-12,.pure-u-md-10-24{width:41.6667%;*width:41.6357%}
.pure-u-md-11-24{width:45.8333%;*width:45.8023%}
.pure-u-md-1-2,.pure-u-md-12-24{width:50%;*width:49.969%}
.pure-u-md-13-24{width:54.1667%;*width:54.1357%}
.pure-u-md-7-12,.pure-u-md-14-24{width:58.3333%;*width:58.3023%}
.pure-u-md-3-5{width:60%;*width:59.969%}
.pure-u-md-5-8,.pure-u-md-15-24{width:62.5%;*width:62.469%}
.pure-u-md-2-3,.pure-u-md-16-24{width:66.6667%;*width:66.6357%}
.pure-u-md-17-24{width:70.8333%;*width:70.8023%}
.pure-u-md-3-4,.pure-u-md-18-24{width:75%;*width:74.969%}
.pure-u-md-19-24{width:79.1667%;*width:79.1357%}
.pure-u-md-4-5{width:80%;*width:79.969%}
.pure-u-md-5-6,.pure-u-md-20-24{width:83.3333%;*width:83.3023%}
.pure-u-md-7-8,.pure-u-md-21-24{width:87.5%;*width:87.469%}
.pure-u-md-11-12,.pure-u-md-22-24{width:91.6667%;*width:91.6357%}
.pure-u-md-23-24{width:95.8333%;*width:95.8023%}
.pure-u-md-1,.pure-u-md-1-1,.pure-u-md-5-5,.pure-u-md-24-24{width:100%}
}
@media screen and (min-width:64em){.pure-u-lg-1,.pure-u-lg-1-1,.pure-u-lg-1-2,.pure-u-lg-1-3,.pure-u-lg-2-3,.pure-u-lg-1-4,.pure-u-lg-3-4,.pure-u-lg-1-5,.pure-u-lg-2-5,.pure-u-lg-3-5,.pure-u-lg-4-5,.pure-u-lg-5-5,.pure-u-lg-1-6,.pure-u-lg-5-6,.pure-u-lg-1-8,.pure-u-lg-3-8,.pure-u-lg-5-8,.pure-u-lg-7-8,.pure-u-lg-1-12,.pure-u-lg-5-12,.pure-u-lg-7-12,.pure-u-lg-11-12,.pure-u-lg-1-24,.pure-u-lg-2-24,.pure-u-lg-3-24,.pure-u-lg-4-24,.pure-u-lg-5-24,.pure-u-lg-6-24,.pure-u-lg-7-24,.pure-u-lg-8-24,.pure-u-lg-9-24,.pure-u-lg-10-24,.pure-u-lg-11-24,.pure-u-lg-12-24,.pure-u-lg-13-24,.pure-u-lg-14-24,.pure-u-lg-15-24,.pure-u-lg-16-24,.pure-u-lg-17-24,.pure-u-lg-18-24,.pure-u-lg-19-24,.pure-u-lg-20-24,.pure-u-lg-21-24,.pure-u-lg-22-24,.pure-u-lg-23-24,.pure-u-lg-24-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-lg-1-24{width:4.1667%;*width:4.1357%}
.pure-u-lg-1-12,.pure-u-lg-2-24{width:8.3333%;*width:8.3023%}
.pure-u-lg-1-8,.pure-u-lg-3-24{width:12.5%;*width:12.469%}
.pure-u-lg-1-6,.pure-u-lg-4-24{width:16.6667%;*width:16.6357%}
.pure-u-lg-1-5{width:20%;*width:19.969%}
.pure-u-lg-5-24{width:20.8333%;*width:20.8023%}
.pure-u-lg-1-4,.pure-u-lg-6-24{width:25%;*width:24.969%}
.pure-u-lg-7-24{width:29.1667%;*width:29.1357%}
.pure-u-lg-1-3,.pure-u-lg-8-24{width:33.3333%;*width:33.3023%}
.pure-u-lg-3-8,.pure-u-lg-9-24{width:37.5%;*width:37.469%}
.pure-u-lg-2-5{width:40%;*width:39.969%}
.pure-u-lg-5-12,.pure-u-lg-10-24{width:41.6667%;*width:41.6357%}
.pure-u-lg-11-24{width:45.8333%;*width:45.8023%}
.pure-u-lg-1-2,.pure-u-lg-12-24{width:50%;*width:49.969%}
.pure-u-lg-13-24{width:54.1667%;*width:54.1357%}
.pure-u-lg-7-12,.pure-u-lg-14-24{width:58.3333%;*width:58.3023%}
.pure-u-lg-3-5{width:60%;*width:59.969%}
.pure-u-lg-5-8,.pure-u-lg-15-24{width:62.5%;*width:62.469%}
.pure-u-lg-2-3,.pure-u-lg-16-24{width:66.6667%;*width:66.6357%}
.pure-u-lg-17-24{width:70.8333%;*width:70.8023%}
.pure-u-lg-3-4,.pure-u-lg-18-24{width:75%;*width:74.969%}
.pure-u-lg-19-24{width:79.1667%;*width:79.1357%}
.pure-u-lg-4-5{width:80%;*width:79.969%}
.pure-u-lg-5-6,.pure-u-lg-20-24{width:83.3333%;*width:83.3023%}
.pure-u-lg-7-8,.pure-u-lg-21-24{width:87.5%;*width:87.469%}
.pure-u-lg-11-12,.pure-u-lg-22-24{width:91.6667%;*width:91.6357%}
.pure-u-lg-23-24{width:95.8333%;*width:95.8023%}
.pure-u-lg-1,.pure-u-lg-1-1,.pure-u-lg-5-5,.pure-u-lg-24-24{width:100%}
}
@media screen and (min-width:80em){.pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-1-2,.pure-u-xl-1-3,.pure-u-xl-2-3,.pure-u-xl-1-4,.pure-u-xl-3-4,.pure-u-xl-1-5,.pure-u-xl-2-5,.pure-u-xl-3-5,.pure-u-xl-4-5,.pure-u-xl-5-5,.pure-u-xl-1-6,.pure-u-xl-5-6,.pure-u-xl-1-8,.pure-u-xl-3-8,.pure-u-xl-5-8,.pure-u-xl-7-8,.pure-u-xl-1-12,.pure-u-xl-5-12,.pure-u-xl-7-12,.pure-u-xl-11-12,.pure-u-xl-1-24,.pure-u-xl-2-24,.pure-u-xl-3-24,.pure-u-xl-4-24,.pure-u-xl-5-24,.pure-u-xl-6-24,.pure-u-xl-7-24,.pure-u-xl-8-24,.pure-u-xl-9-24,.pure-u-xl-10-24,.pure-u-xl-11-24,.pure-u-xl-12-24,.pure-u-xl-13-24,.pure-u-xl-14-24,.pure-u-xl-15-24,.pure-u-xl-16-24,.pure-u-xl-17-24,.pure-u-xl-18-24,.pure-u-xl-19-24,.pure-u-xl-20-24,.pure-u-xl-21-24,.pure-u-xl-22-24,.pure-u-xl-23-24,.pure-u-xl-24-24{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-u-xl-1-24{width:4.1667%;*width:4.1357%}
.pure-u-xl-1-12,.pure-u-xl-2-24{width:8.3333%;*width:8.3023%}
.pure-u-xl-1-8,.pure-u-xl-3-24{width:12.5%;*width:12.469%}
.pure-u-xl-1-6,.pure-u-xl-4-24{width:16.6667%;*width:16.6357%}
.pure-u-xl-1-5{width:20%;*width:19.969%}
.pure-u-xl-5-24{width:20.8333%;*width:20.8023%}
.pure-u-xl-1-4,.pure-u-xl-6-24{width:25%;*width:24.969%}
.pure-u-xl-7-24{width:29.1667%;*width:29.1357%}
.pure-u-xl-1-3,.pure-u-xl-8-24{width:33.3333%;*width:33.3023%}
.pure-u-xl-3-8,.pure-u-xl-9-24{width:37.5%;*width:37.469%}
.pure-u-xl-2-5{width:40%;*width:39.969%}
.pure-u-xl-5-12,.pure-u-xl-10-24{width:41.6667%;*width:41.6357%}
.pure-u-xl-11-24{width:45.8333%;*width:45.8023%}
.pure-u-xl-1-2,.pure-u-xl-12-24{width:50%;*width:49.969%}
.pure-u-xl-13-24{width:54.1667%;*width:54.1357%}
.pure-u-xl-7-12,.pure-u-xl-14-24{width:58.3333%;*width:58.3023%}
.pure-u-xl-3-5{width:60%;*width:59.969%}
.pure-u-xl-5-8,.pure-u-xl-15-24{width:62.5%;*width:62.469%}
.pure-u-xl-2-3,.pure-u-xl-16-24{width:66.6667%;*width:66.6357%}
.pure-u-xl-17-24{width:70.8333%;*width:70.8023%}
.pure-u-xl-3-4,.pure-u-xl-18-24{width:75%;*width:74.969%}
.pure-u-xl-19-24{width:79.1667%;*width:79.1357%}
.pure-u-xl-4-5{width:80%;*width:79.969%}
.pure-u-xl-5-6,.pure-u-xl-20-24{width:83.3333%;*width:83.3023%}
.pure-u-xl-7-8,.pure-u-xl-21-24{width:87.5%;*width:87.469%}
.pure-u-xl-11-12,.pure-u-xl-22-24{width:91.6667%;*width:91.6357%}
.pure-u-xl-23-24{width:95.8333%;*width:95.8023%}
.pure-u-xl-1,.pure-u-xl-1-1,.pure-u-xl-5-5,.pure-u-xl-24-24{width:100%}
}
.pure-menu ul{position:absolute;visibility:hidden}
.pure-menu.pure-menu-open{visibility:visible;z-index:400;width:100%}
.pure-menu ul{left:-10000px;list-style:none;margin:0;padding:0;top:-10000px;z-index:399}
.pure-menu>ul{position:relative}
.pure-menu-open>ul{left:0;top:0;visibility:visible}
.pure-menu-open>ul:focus{outline:0}
.pure-menu li{position:relative}
.pure-menu a,.pure-menu .pure-menu-heading{display:block;color:inherit;line-height:1.5em;padding:5px 20px;text-decoration:none;white-space:nowrap}
.pure-menu.pure-menu-horizontal>.pure-menu-heading{display:inline-block;*display:inline;zoom:1;margin:0;vertical-align:middle}
.pure-menu.pure-menu-horizontal>ul{display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.pure-menu li a{padding:5px 20px}
.pure-menu-can-have-children>.pure-menu-label:after{content:'\25B8';float:right;font-family:'Lucida Grande','Lucida Sans Unicode','DejaVu Sans',sans-serif;margin-right:-20px;margin-top:-1px}
.pure-menu-can-have-children>.pure-menu-label{padding-right:30px}
.pure-menu-separator{background-color:#dfdfdf;display:block;height:1px;font-size:0;margin:7px 2px;overflow:hidden}
.pure-menu-hidden{display:none}
.pure-menu-fixed{position:fixed;top:0;left:0;width:100%}
.pure-menu-horizontal li{display:inline-block;*display:inline;zoom:1;vertical-align:middle}
.pure-menu-horizontal li li{display:block}
.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label:after{content:"\25BE"}
.pure-menu-horizontal>.pure-menu-children>.pure-menu-can-have-children>.pure-menu-label{padding-right:30px}
.pure-menu-horizontal li.pure-menu-separator{height:50%;width:1px;margin:0 7px}
.pure-menu-horizontal li li.pure-menu-separator{height:1px;width:auto;margin:7px 2px}
.pure-menu.pure-menu-open,.pure-menu.pure-menu-horizontal li .pure-menu-children{background:#fff;border:1px solid #b7b7b7}
.pure-menu.pure-menu-horizontal,.pure-menu.pure-menu-horizontal .pure-menu-heading{border:0}
.pure-menu a{border:1px solid transparent;border-left:0;border-right:0}
.pure-menu a,.pure-menu .pure-menu-can-have-children>li:after{color:#777}
.pure-menu .pure-menu-can-have-children>li:hover:after{color:#fff}
.pure-menu .pure-menu-open{background:#dedede}
.pure-menu li a:hover,.pure-menu li a:focus{background:#eee}
.pure-menu li.pure-menu-disabled a:hover,.pure-menu li.pure-menu-disabled a:focus{background:#fff;color:#bfbfbf}
.pure-menu .pure-menu-disabled>a{background-image:none;border-color:transparent;cursor:default}
.pure-menu .pure-menu-disabled>a,.pure-menu .pure-menu-can-have-children.pure-menu-disabled>a:after{color:#bfbfbf}
.pure-menu .pure-menu-heading{color:#565d64;text-transform:uppercase;font-size:90%;margin-top:.5em;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dfdfdf}
.pure-menu .pure-menu-selected a{color:#000}
.pure-menu.pure-menu-open.pure-menu-fixed{border:0;border-bottom:1px solid #b7b7b7}
.pure-paginator{letter-spacing:-.31em;*letter-spacing:normal;*word-spacing:-.43em;text-rendering:optimizespeed;list-style:none;margin:0;padding:0}
.opera-only:-o-prefocus,.pure-paginator{word-spacing:-.43em}
.pure-paginator li{display:inline-block;*display:inline;zoom:1;letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto}
.pure-paginator .pure-button{border-radius:0;padding:.8em 1.4em;vertical-align:top;height:1.1em}
.pure-paginator .pure-button:focus,.pure-paginator .pure-button:active{outline-style:none}
.pure-paginator .prev,.pure-paginator .next{color:#C0C1C3;text-shadow:0 -1px 0 rgba(0,0,0,.45)}
.pure-paginator .prev{border-radius:2px 0 0 2px}
.pure-paginator .next{border-radius:0 2px 2px 0}
@media (max-width:480px){.pure-menu-horizontal{width:100%}
.pure-menu-children li{display:block;border-bottom:1px solid #000}
}
@media screen and (max-width:567px){.hide-xs{display:none !important}
}
@media screen and (min-width:568px) and (max-width:767px){.hide-sm{display:none !important}
}
@media screen and (min-width:768px) and (max-width:1023px){.hide-md{display:none !important}
}
@media screen and (min-width:1024px) and (max-width:1279px){.hide-lg{display:none !important}
}
@media screen and (min-width:1280px){.hide-xl{display:none !important}
}
@media screen and (max-width:767px){.no-margin-right-md{margin-right:0 !important}
}
.responsive-video{position:relative;padding-bottom:56.5%;padding-top:0;height:0;overflow:hidden;margin:10px 0;max-width:640px}
.responsive-video iframe,.responsive-video object,.responsive-video embed{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
html,button,input,select,textarea,.pure-g [class *= "pure-u"],h1,h2,h3{color:#555;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
input,textarea,select{border-radius:2px !important;resize:none}
:required{border-color:#129fea !important}
:invalid{color:#555 !important}
.pure-button{padding:10px 22px;text-decoration:none !important}
.pure-button[disabled],.pure-button-disabled{cursor:default !important}
.pure-button-primary{background-color:#008ddf !important}
.button-green{background-color:#57b057;color:#fff}
.button-red{background-color:#d95353! important;color:#fff}
.button-md{padding:8px 17px;font-size:13px}
.button-sm{padding:6px 12px;font-size:12px;position:relative;top:-2px}
.pure-menu{position:absolute;right:0;top:0;width:auto !important;background:#fafafa !important;z-index:999;height:52px}
.pure-menu li ul{border:0 !important;border-top:1px solid #ddd !important;border-left:1px solid #eee !important;box-shadow:1px 2px 3px rgba(0,0,0,.3) !important}
.pure-menu li a{padding:13px 20px !important;color:#373737;text-shadow:0 1px 1px #fff}
.pure-menu li li a{padding:6px 20px !important}
.pure-menu-children a{padding:4px 20px !important;font-size:14px}
.pure-menu-children .pure-menu-separator{margin:0 2px !important}
.pure-menu-children li{border-bottom:0 !important}
.pure-button-disabled.ajax{cursor:pointer !important}
.pure-button .check{display:none}
.pure-button-disabled .check{display:inline}
*{margin:0}
html,body{height:100%;min-width:320px}
#wrapper{min-height:100%;margin:0 auto -49px}
#header{background:#fafafa;border-bottom:1px solid #eee;height:52px}
#header_inner,#footer_inner{max-width:1790px}
#header_inner{position:relative;margin:auto;padding:10px 20px 8px}
#header .profile_image{position:relative;top:-4px;width:32px;height:32px;border-radius:32px}
#push{clear:both;margin:55px 0 0}
#footer,#push{height:48px}
#footer{background:#fafafa;border-top:1px solid #eee}
#footer_inner{margin:auto;padding:12px 20px 0;line-height:2;font-size:13px;background:#fafafa;color:#777}
#footer_inner a{color:#777;white-space:nowrap}
#footer_inner .hover_links{opacity:.8}
#footer_inner .hover_links a{padding:0 5px}
#bg_svg{position:fixed;top:40px;left:0;width:100%;height:100%;z-index:-1}
#logo{position:relative;top:2px;display:inline-block;width:115px;height:30px;background:url(../images/sprites.png);background:url(../images/sprites.svg),none;float:left;text-decoration:none;margin-right:40px}
a{color:#0a88d3;text-decoration:none;cursor:pointer}
p{margin:0 0 10px;line-height:1.6}
a,input,select,textarea{outline:0 !important}
h1,.pseudo_h1{font-size:26px;font-weight:normal;line-height:1.5;margin:0 0 25px}
h2{font-size:18px;font-weight:normal;margin:0 0 12px}
h3{font-size:16px;font-weight:bold;margin:0 0 15px}
h1 a,h2 a,h3 a{color:#555}
h1 a:hover,h2 a:hover,h3 a:hover{text-decoration:underline}
hr{margin:10px 0;border:0;border-top:1px solid #e7e7e7}
ol,ul{margin:0 0 10px;padding-left:20px;line-height:1.5}
table{width:100%;border-collapse:collapse}
table th,table td{padding:6px;text-align:left;vertical-align:top}
form ul{margin:0;padding:0;list-style:none}
form ul label{text-align:left !important;white-space:nowrap}
label{display:block;margin-top:3px !important;margin-bottom:3px !important}
::-webkit-input-placeholder{color:#bbb !important}
::-moz-placeholder{color:#bbb !important}
:-ms-input-placeholder{color:#bbb !important}
.placeholder{color:#bbb !important}
[placeholder]{text-overflow:ellipsis}
::-ms-clear{display:none}
.clearfix:before,.clearfix:after{display:table;content:""}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.text{margin:10px 0 0;line-height:1.5;white-space:pre-wrap;word-wrap:break-word}
.noselect{-webkit-user-select:none;-moz-user-select:none;user-select:none}
.hover_links a,.hover_opacity{opacity:1;transition:opacity .2s}
.hover_links a:hover,.hover_opacity:hover{opacity:.65}
.hover_links.inverted a,.hover_opacity.inverted{opacity:.75}
.hover_links.inverted a:hover,.hover_opacity.inverted:hover{opacity:1}
#toTop{display:block;position:fixed;right:-10px;bottom:58px;cursor:pointer;width:27px;background:rgba(255,255,255,.8);color:#636363;opacity:0;text-align:center;text-decoration:none;font-size:14px;line-height:27px;vertical-align:middle;border-radius:30px;z-index:999;transition:.25s;border:1px solid rgba(0,0,0,.7);-webkit-background-clip:padding-box;background-clip:padding-box}
#toTop.show{right:8px;opacity:1}
#toTop:hover{background:rgba(0,0,0,.1)}
.tab_menu{list-style-type:none;padding:0;margin:0;border:1px solid #f0f1f4;border-left:0;border-right:0;text-align:center}
.tab_menu li,.tab_menu a{display:inline-block;padding:10px 0;margin:0 15px;cursor:pointer;color:#71767a;border-bottom:2px solid transparent;line-height:24px}
.tab_menu li:hover,.tab_menu a:hover{color:#0a88d3}
.tab_menu .selected{color:#0a88d3;border-bottom:2px solid #0a88d3}
.tab_menu+div{background:#f7f8fa}
.tab_menu+div>div{max-width:1800px;margin:auto;padding:22px 20px}
.tab_menu+div .flex_grid{margin:0}
.tiny_search{display:inline-block;position:relative;font-size:16px;min-width:0}
.tiny_search label{z-index:10;display:inline-block !important;margin:0 !important;background:url(/static/img/sprites.png);background:url(/static/img/sprites.svg),none;background-position:-200px 0;width:20px;height:20px;cursor:pointer;position:absolute;right:0;top:1px}
.tiny_search [type="text"]{transition:.3s;width:0;opacity:0;border:0;border-bottom:1px solid #ccc;border-radius:0 !important;padding:2px 28px 2px 2px;color:#777}
.tiny_search [type="submit"]{position:absolute;left:-9999px}
.tiny_search.active input{width:220px;opacity:1;border:0;border-bottom:1px solid #ccc;border-radius:0 !important;padding:2px 28px 2px 2px;background:transparent}
.paginator .pure-button{margin:5px 3px;padding:8px 12px;font-weight:bold;font-size:12px !important;color:#777;border-radius:0;outline:1px solid #eee !important;border:1px solid #f9f9f9;background:#f5f5f5}
.paginator a.pure-button:hover{background:#eee}
.paginator .prev,.paginator .next{padding-left:20px;padding-right:20px}
.paginator span.pure-button{outline:1px solid #999 !important;background:#fdfdfd;cursor:default}
.paginator [type="text"]{text-align:center;padding:0 4px ! important;line-height:25px;min-width:25px;position:relative;top:-1px}
.paginator i,.single_quot,.times,.check{font-style:normal;display:inline-block;font-size:20px;overflow:hidden;line-height:12px}
.times{font-size:18px;line-height:8px}
.check{font-size:12px}
.share_icons span{display:inline-block;width:40px;height:40px;cursor:pointer;background:url(../images/social_icons.svg) 0 0 no-repeat}
.share_icons span:hover{opacity:.8}
.media_list .paginator{position:relative;top:10px;font-size:13px}
.media_list .paginator .pure-button{line-height:23px;padding:0 15px;position:relative;top:-1px}
.media_filter{height:54px;overflow:hidden;font-size:13px}
.media_filter span{line-height:54px;margin-right:30px;cursor:pointer;color:#333;opacity:.8;transition:.2s;white-space:nowrap}
.media_filter span:hover{opacity:1}
.media_filter .arrow{position:relative;top:-2px}
.media_filter a{position:relative;padding-right:40px !important;white-space:nowrap}
.media_filter .check{position:absolute;right:10px;top:8px;font-size:13px}
#paginator_clone .dd_box{display:none}
.tags{margin:35px 0 0 -11px}
.tags a{display:inline-block;padding:2px 10px;margin:0 0 8px 12px;font-size:13px;color:#777;border:1px solid  #cecece;border-radius:20px;text-transform:lowercase;transition:.2s}
.tags a:hover{color:#0a88d3;border-color:#0a88d3}
.tags i{position:absolute;opacity:0}
#media_show{max-width:1310px;margin:32px auto 0;padding:0 20px;position:relative}
#media_show .left{width:100%;float:left;margin-right:-300px}
#media_show .left .inside{margin-right:300px;padding-right:50px}
#media_show .right{width:300px;float:right;margin-bottom:10px;position:relative}
@media screen and (max-width:1280px){#media_show .left{margin-right:-275px}
#media_show .left .inside{margin-right:275px;padding-right:25px}
#media_show .right{width:275px}
}
@media screen and (max-width:850px){#media_show .left{margin:0 0 20px}
#media_show .left .inside{margin:0;padding:0}
#media_show .right{width:100%}
#media_show #details td{text-align:left !important;padding-left:30px !important}
}
#media_show .download_menu{max-width:310px}
#media_show .download_menu .bubble{min-width:242px;margin-top:9px}
#media_show .download_menu .bubble.ne{margin-top:-242px}
#media_show .download_menu table{font-size:14px;margin:0 0 8px}
#media_show .download_menu tr:hover{background:#f7f7f7;cursor:pointer}
#media_show .download_menu td{text-align:center;padding:5px 10px !important;white-space:nowrap}
#media_show .download_menu td:first-child{text-align:left}
#media_show .download_menu td:last-child{text-align:right}
#media_show .download_menu .selected{background:#eee !important}
#img_click_overlay{max-width:300px;margin:auto;padding:23px 20px;background:rgba(0,0,0,.5);border-radius:3px}
#img_click_overlay .download_menu{margin:-10px auto 0}
#img_click_overlay .like_buttons{border:0 !important;margin:0 !important;padding:0 !important;text-align:justify}
#img_click_overlay .like_buttons:before{content:'';display:block;width:100%}
#img_click_overlay .like_buttons:after{content:'';display:inline-block;width:100%}
#img_click_overlay .like_buttons>span{width:30% !important}
@media screen and (max-width:567px){#media_container{overflow:visible !important}
#media_show .overlay{padding:20px 12px}
#img_click_overlay{padding:15px}
}
#media_show #details th,#media_show #details td{white-space:nowrap;font-size:14px;padding:0;line-height:1.5;font-weight:normal;color:#636363}
#media_show #details th{width:1%;padding-right:10px}
#media_show #details td{text-align:right}
#media_show .like_buttons{margin:20px 0;padding:16px 0 14px;border:1px solid #eeeff2;border-left:0;border-right:0}
#media_show .like_buttons .pure-button{display:inline-block;padding:0 15px;width:28%;height:28px;line-height:27px;font-size:13px;max-width:100px}
#media_show .like_buttons .pure-button i{vertical-align:text-top}
#media_show .like_buttons .pure-button b{vertical-align:middle;margin-left:8px}
#media_show .overlay{display:none;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.62);padding:25px;cursor:default;z-index:110}
#media_show .overlay em{position:absolute;top:7px;right:14px;font-size:28px;font-style:normal;cursor:pointer;color:#fff;opacity:.8}
#media_show .overlay:hover+h1{opacity:0}
#media_show .overlay td{padding:30px 0 100px;vertical-align:middle;text-align:center}
#media_container{position:relative}
#media_show.photo #media_container{display:inline-block;zoom:1;*display:inline}
#media_container>img{display:block;height:auto;width:100%;position:relative;box-shadow:0 1px 3px rgba(0,0,30,.3);cursor:pointer;background:linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);background-position:0 0,10px 10px;background-color:#fff;background-size:21px 21px}
#media_container h1{position:absolute;top:0;left:0;right:0;opacity:0;z-index:100;text-align:left;font-size:16px;text-transform:capitalize;transition:.3s;background:linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);height:46px;line-height:46px;overflow:hidden;padding:0 10px}
#media_container h1 span{float:right;display:inline-block;padding:9px 8px 5px 10px;background:rgba(0,0,0,.5);line-height:1;border-radius:30px;cursor:pointer;opacity:.8;margin:7px 0 0 15px}
#media_container h1 span:hover{opacity:1}
#media_container:hover h1,#media_container.init h1{opacity:1}
#media_container h1 a{color:#fff;padding:4px;border-radius:2px;text-decoration:none;transition:.3s}
#media_container h1 a:hover{color:#fff;background:rgba(255,255,255,.3)}
#media_container h1 a.award{padding:3px 5px}
.user_list .item{margin:10px;border:0;background:#f3f3f3 !important}
.user_list .item a{color:#fff}
.user_list .top,.user_list .bottom{position:absolute;left:0;right:0}
.user_list .top{padding:10px 12px 15px !important;top:-50px;line-height:1.5;font-size:14px;opacity:0;transition:.25s;background:linear-gradient(to bottom,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.user_list .top span{float:right}
.user_list .top b{display:block;font-weight:normal;white-space:nowrap}
.user_list .top i{width:18px;cursor:pointer}
.user_list .bottom{padding:15px 12px 10px;font-size:16px;bottom:0;background:linear-gradient(to top,rgba(0,0,0,.7) 0,rgba(0,0,0,0) 100%);white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.user_list .bottom div{margin:5px 0 0;font-size:13px}
.user_list .item:hover .top{opacity:1;top:0}
.arrow{display:inline-block;zoom:1;*display:inline;width:0;height:0;position:relative;top:-1px;vertical-align:middle;border-right:4px solid transparent;border-left:4px solid transparent;border-top:4px solid #777}
.bubble,.dd_box+div{display:none;position:absolute;z-index:999;background:#fff;border:1px solid #d3d3d3;padding:10px;border-radius:2px;box-shadow:0 1px 5px rgba(0,0,0,.2);font-size:13px;line-height:1.6}
.bubble:before{position:absolute;top:-8px;left:-9999px;content:"";width:0;border-width:0 8px 8px;border-style:solid;border-color:#ccc transparent}
.bubble:after{position:absolute;top:-7px;left:-9999px;content:"";width:0;border-width:0 7px 7px;border-style:solid;border-color:#fff transparent}
.bubble.sw:before{right:20px;left:auto}
.bubble.sw:after{right:21px;left:auto}
.bubble.se:before{left:20px}
.bubble.se:after{left:21px}
.bubble.ne:before{top:auto;bottom:-8px;left:20px;content:"";width:0;border-width:8px 8px 0;border-style:solid;border-color:#ccc transparent}
.bubble.ne:after{top:auto;bottom:-7px;left:21px;content:"";width:0;border-width:7px 7px 0;border-style:solid;border-color:#fff transparent}
.dd_box.menu+div{padding:5px 0}
.dd_box.menu+div a{display:block;margin:0 !important;line-height:15px;font-size:13px;padding:7px 28px 7px 18px;white-space:nowrap;color:#555 !important}
.dd_box.menu+div a:last-child{border:0}
.dd_box.menu+div a:hover{text-shadow:none;background:#f1f1f1;text-decoration:none}
.dd_box.langs+div{width:292px}
.dd_box.langs+div a{display:block;float:left;width:100px;line-height:14px}
.dd_box.langs+div a:nth-child(odd){clear:both}
.dd_box.langs+div a:nth-last-child(2){border:0 !important}
@media screen and (max-width:567px){.dd_box.langs+div{left:20px !important}
}
.icon{position:relative;display:inline-block;padding:0;background-image:url(../images/sprites.png);background-image:url(../images/sprites.svg),none;background-repeat:no-repeat;cursor:pointer}
.icon_download{background-position:0 -50px;width:15px;height:15px;top:2px}
.icon_award{background-position:-50px -50px;width:16px;height:14px;top:1px}
.icon_ec{background-position:-100px -50px;width:15px;height:16px;top:2px}
.icon_followers{background-position:-200px -50px;width:16px;height:14px;top:2px}
.icon_menu_dots{background-position:-50px -100px;width:18px;height:17px;top:2px}
.icon_menu_bars{background-position:-100px -100px;width:20px;height:18px;top:3px}
.icon_comment_sm{background-position:-200px -100px;width:12px;height:11px}
.icon_favorite_sm{background-position:-200px -125px;width:13px;height:12px}
.icon_download_sm{background-position:-200px -150px;width:12px;height:11px}
.icon_menu_user{background-position:-50px -150px;width:15px;height:17px;left:1px;top:3px}
.icon_pinterest_fff{background-position:-100px -150px;width:12px;height:15px}
.icon_videos{background-position:-150px -150px;width:12px;height:13px}
.icon_view{background-position:-150px -175px;width:16px;height:12px}
.icon_view_sm{background-position:-200px -175px;width:14px;height:11px}
.icon_like{background-position:0 -200px;width:15px;height:14px}
.icon_favorite{background-position:-50px -200px;width:15px;height:14px}
.icon_flag{background-position:-100px -200px;width:13px;height:14px}
.icon_share{background-position:-150px -200px;width:19px;height:15px}
.icon_like_sm{background-position:-200px -200px;width:12px;height:12px}
.icon_facebook{background-position:0 -250px;width:7px;height:15px}
.icon_twitter{background-position:-50px -250px;width:18px;height:15px}
.icon_google_plus{background-position:-100px -250px;width:22px;height:15px}
.icon_edit{background-position:-150px -250px;width:14px;height:14px}
.icon_comment{background-position:-200px -250px;width:14px;height:13px}
.icon_facebook_fff{background-position:0 -300px;width:7px;height:15px}
.icon_twitter_fff{background-position:-50px -300px;width:18px;height:15px}
.icon_google_plus_fff{background-position:-100px -300px;width:22px;height:15px}
.icon_microsoft_fff{background-position:-150px -300px;width:15px;height:15px}
.icon_instagram_fff{background-position:0 -400px;width:15px;height:15px}
.icon_vk{background-position:-200px -300px;width:27px;height:15px}
.icon_options{background-position:0 -350px;width:16px;height:16px}
.icon_external{background-position:-50px -350px;width:15px;height:15px;top:1px}
.icon_cc0{background-position:-100px -350px;width:16px;height:16px;top:2px}
.icon_images{background-position:-150px -350px;width:14px;height:12px}
.search_xl{width:100%;max-width:640px;margin:auto;padding:2px;background:#fff;border:2px solid rgba(0,0,0,.3);-webkit-background-clip:padding-box;background-clip:padding-box}
.search_xl .hide-xs{width:1%;position:relative;padding-left:15px;white-space:nowrap}
.search_xl table{width:100%;text-align:left}
.search_xl table td{padding:0;border:0}
.search_xl [type="text"]{width:100%;border:0;font:normal 18px arial,sans-serif;line-height:23px;margin:0;padding:12px 0 12px 15px}
.search_xl [type="submit"]{margin:1px;width:60px;height:45px;border:0;padding:0;border-radius:0 !important;background:url(../images/sprites.png);background:url(../images/sprites.svg),none;background-color:#008ddf;background-position:18px -89px;background-repeat:no-repeat;transition:.2s}
.search_xl [type="submit"]:hover{opacity:.9}
@media screen and (max-width:381px){.search_xl [type="submit"]{margin-left:22px !important}
}
.search_xl .dd_box{border-left:1px solid #eee;padding:0 10px;line-height:45px;font-size:15px;cursor:pointer;margin:1px 0 1px 15px}
.search_xl .dd_box:hover{background:#eee}
.search_xl .dd_box+div{left:auto !important;right:0;top:50px !important}
.cf_grayscale:checked+label+.color_filter{opacity:.3}
.color_filter{margin:5px 0 0;width:130px;white-space:normal;line-height:10px}
.color_filter input{display:none}
.color_filter label{display:inline-block;width:16px;height:16px;margin-right:4px;outline:1px solid #ddd;cursor:pointer}
.color_filter input:checked+label{outline-color:#999;border:2px solid #fff;width:12px;height:12px}
.bg_colors .red{background:#f00}
.bg_colors .orange{background:#fdb91a}
.bg_colors .yellow{background:#f4fb00}
.bg_colors .green{background:#00e100}
.bg_colors .turquoise{background:#00d7e8}
.bg_colors .blue{background:#00f}
.bg_colors .lilac{background:#c93ef7}
.bg_colors .pink{background:#f8c1ff}
.bg_colors .white{background:#fff}
.bg_colors .gray{background:#bbb}
.bg_colors .black{background:#000}
.bg_colors .brown{background:#ae5700}
.bg_colors .transparent{background:linear-gradient(135deg,#fff 9px,#f00 10px,#fff 0)}
.bg_colors .transparent{background:linear-gradient(45deg,#ddd 25%,transparent 25%,transparent 75%,#ddd 75%,#ddd),linear-gradient(45deg,#ddd 25%,transparent 25%,transparent 75%,#ddd 75%,#ddd);background-position:0 0,6px 6px;background-color:#fff;background-size:21px 21px}
.bg_colors .grayscale{background:linear-gradient(135deg,#fff 9px,#000 1px,#000)}
.bg_colors i{display:inline-block;width:10px;height:10px;padding:1px;border:1px solid #fff;outline:1px solid #bbb;margin-right:4px;position:relative;top:2px}
.header_search{display:inline-block;height:31px;border-radius:2px;border:1px solid #ccc;width:45%;min-width:280px;max-width:600px;position:relative;background:#fff}
.header_search [type="submit"]{float:right;height:33px;position:relative;top:-1px;left:2px;width:44px;border:0;border-radius:0 2px 2px 0 !important;background:url(../images/sprites.png);background:url(../images/sprites.svg),none;background-position:-137px 8px;background-color:#008ddf;transition:.2s}
.header_search [type="submit"]:hover{opacity:.9}
.header_search .dd_box{float:left;line-height:31px;padding:0 9px;margin-right:8px;color:#777;background:#f3f3f3;font-size:13px;border-radius:2px 0 0 2px;cursor:pointer;transition:.2s}
.header_search .dd_box:hover{color:#555;background:#eee}
.header_search .dd_box+div+div{overflow:hidden;margin-right:50px}
.header_search [type="text"]{height:31px;padding:0;margin:0;border:0;color:#555;font-size:14px;width:100%}
.header_search .dd_box+div{top:34px !important}
@media screen and (min-width:570px) and (max-width:859px){#logo{margin-right:15px}
.pure-menu li a{padding:13px 15px !important}
.header_search{width:55%}
}
@media screen and (max-width:569px){#header{border-bottom:55px solid #eff2f5}
.header_search{width:100%;clear:both;margin:23px 0 0}
.header_search,.header_search [type="submit"]{border-radius:0 !important}
.header_search .dd_box{color:#888;background:#fff;border-right:1px solid #eee}
.no_header_search #header{border-bottom:1px solid #eee}
.no_header_search .header_search{display:none}
.pure-menu li a{padding:13px 18px !important}
}
.no_header_search .autocomplete-suggestions{margin:2px 0 0 -2px}
.media_search .dd_box+div td{vertical-align:top;padding:5px}
.media_search .dd_box+div th{font-weight:bold;text-align:right;padding-right:15px}
.media_search .dd_box+div [type="text"],.min_width_height{display:inline;width:60px;height:28px;font-size:14px;text-align:center}
.media_search .times{margin:0 5px;font-size:16px}
#hero{position:relative;background-position:center;background-size:cover;margin:0 0 70px;text-align:center;transition:.8s}
#hero.video>div:first-child{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden}
#hero.video video{position:absolute;min-width:100%;min-height:100%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
#hero h1,#hero h1+h2{margin:auto;max-width:800px;padding:20px 15px 0;font:38px Helvetica,Arial,sans-serif;color:#fff;text-shadow:0 0 1px rgba(0,0,0,.6)}
#hero h1+h2{font-size:22px;padding:12px 15px 20px}
@media screen and (min-width:1024px){#hero h1{padding:30px 15px 0;font-size:50px}
#hero.video h1{line-height:50px;padding:50px 20px 0;font-size:44px}
}
#hero #bg_link{display:block;position:absolute;top:0;right:0;bottom:0;left:0}
#hero #top{padding:25px 20px 10px;background:linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 100%)}
#hero .bottom{position:relative;z-index:10;padding:12px 15px 12px;color:#fff;text-align:right;background:linear-gradient(to top,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%)}
#hero_nav a,#hero_nav span{color:#fff;opacity:.8;font-size:14px}
#hero_nav a:hover,#hero_nav span:hover{opacity:1}
#hero_nav{display:inline-block;position:relative;top:2px}
#hero_nav span{cursor:pointer;padding:0 5px;font-size:18px}
.index h2{font-size:30px;color:#515457;margin-bottom:20px;text-align:center}
.index .cats{margin:auto;max-width:1100px}
.index .cats a{color:#555;display:block;padding:7px 20px 7px 10px;text-overflow:ellipsis;overflow:hidden}
.flex_grid{overflow:hidden;margin:4px 17px 0 18px}
.flex_grid .item{float:left;position:relative;display:none;margin:5px;box-sizing:content-box;overflow:hidden}
.flex_grid .item img{display:block;width:100%;height:auto}
.flex_grid.credits .item{background:#f3f3f3}
.flex_grid.credits .item>div{position:absolute;left:0;right:0;bottom:-15px;padding:10px 10px 8px;opacity:0;transition:.25s;background:linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);font-size:14px;color:#fff}
.flex_grid.credits .item:hover>div{position:absolute;left:0;right:0;bottom:0;opacity:1}
.flex_grid.credits .item div a,.flex_grid.credits .item div span{display:inline-block;color:#fff;padding:5px 7px;border-radius:2px;transition:.2s}
.flex_grid.credits .item div a:hover{background:rgba(255,255,255,.2)}
.flex_grid.credits .item div .counts{float:right;position:relative;top:4px;right:5px}
.flex_grid.credits .item div .icon{top:2px;cursor:default;margin-left:5px}
.flex_grid.video{margin:4px 9px 0}
.flex_grid.video .item{margin:10px;border:0}
.flex_grid.video .media{position:absolute;left:0;top:0;right:0;bottom:20px;overflow:hidden}
.flex_grid.video em{font-style:normal;color:#777;position:absolute;left:2px;bottom:0;right:2px;font-size:13px;height:17px}
.flex_grid.video em a,.flex_grid.video em span{float:right;color:#777}
.flex_grid.video em a:hover{text-decoration:underline}
.flex_grid.video video{position:absolute;left:0;top:0;width:100%;height:100%;background:#222}
.flex_grid.video i{display:block;position:absolute;left:0;top:-10px;width:0;height:5px;background:#57b057;transition:width 1.2s ease-out}
.flex_grid.video .media:hover i{top:0;width:95%}
.flex_grid.video video.playing+img+i{display:none}
#comments td{padding:10px 0  15px 10px}
#comments td:first-child{width:48px;padding-left:0}
#comments td img{width:48px;height:48px;border-radius:48px}
#comment_list{table-layout:fixed;margin:10px 0 0;font-size:14px}
#comment_list td{position:relative;border-top:1px solid #eee}
#comments .options{position:absolute;right:0;top:10px;display:none}
#comments tr:hover .options{display:block}
#comments .options a{color:#777;font-size:12px;margin-left:10px}
#comments .options a:hover{text-decoration:underline}
.signup_form.new{display:none}
.add_suggestion{display:inline-block;margin:4px 2px 0 0;padding:0 4px;color:#eaf5fb;background:#347eac;font-size:12px;border-radius:2px;line-height:16px}
.add_suggestion:hover{color:#fff;background:#4ea3d6;text-decoration:none}
.messages_menu a{display:block;color:#333;padding:12px;font-size:14px;background:#f7f7f7}
.messages_menu a:hover{background:#eee}
.messages_menu a.selected{background:#dedede !important}
.messages_menu form{font-size:14px;margin:15px 0 35px;display:block;overflow:hidden}
.messages_menu form [type="text"]{width:100%;min-width:0;max-width:100%;padding:5px 12px}
.messages td{font-size:14px;border-bottom:1px solid #ddd;padding:5px}
.messages td:first-child{width:1%}
.messages .to_from a{color:#777;font-size:13px;font-weight:bold}
.messages .subject{display:block;padding:10px 0}
.messages .message{display:none}
.messages .date{float:right;color:#777;font-size:13px}
.messages .remove_link{cursor:pointer;opacity:.7;margin-left:8px}
.messages .remove_link i{font-size:20px;line-height:10px}
.messages .remove_link:hover{opacity:1}
.messages .text{max-width:640px;margin-bottom:15px}
.previous_messages td{border:0;border-top:1px solid #ddd;padding:10px 10px 10px 0}
.messages .is_new{background:#d9edf7}
.messages .pure-form{max-width:640px}
.messages .pure-form textarea{width:100%;height:75px}
.forum_topics>div{margin:0 0 12px;padding:0 0 25px;border-bottom:1px solid #e4e6e8}
.forum_topics .views,.forum_topics .replies,.forum_topics .last_post{display:inline-block;margin:4px 10px;vertical-align:top}
.forum_topics .views{margin:4px 10px 10px 50px}
.forum_topics .views span,.forum_topics .replies span,.forum_topics .last_post>span{display:inline-block;margin:0 0 22px;color:#888;font-size:13px}
.forum_topics .last_post>span{margin:0 0 7px}
.forum_topics .last_post a img{float:left;width:48px;border-radius:96px}
.forum_topics .last_post a span{display:inline-block;width:100px;overflow:hidden;margin:6px 0 0 10px;font-size:13px;color:#636363;line-height:17px}
.forum_topics .topic{white-space:nowrap;color:#39739d;background:#e1ecf4;padding:2px 4px;border-radius:2px}
.forum_posts th,.forum_posts td{padding:12px 10px;vertical-align:top;font-weight:normal;line-height:1.5}
.forum_posts th{width:auto;background:#f7f8fa;border-top:1px solid #f0f1f4;border-bottom:1px solid #f0f1f4;font-size:14px}
.forum_posts td{color:#2e3539;background:#fff;font-size:12px;border-bottom:1px solid #eee}
.forum_posts td:first-child span{color:#777;font-size:13px}
.forum_posts td:last-child{min-width:120px;max-width:220px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.forum_posts td:first-child{width:1%}
.forum_posts td:first-child img{width:48px;height:48px;border-radius:48px}
.forum_posts td:last-child img{max-width:100%;height:auto}
.forum_posts .admin{display:inline-block;width:10px;height:10px;background:#57b057;border-radius:10px}
.forum_posts .options{float:right;margin-left:10px;font-size:12px}
.forum_posts .options a{color:#777;margin-left:10px}
.forum_posts .post{margin:10px 0 0;font-size:13px;word-wrap:break-word;white-space:normal;color:#555}
.blog #hero a{transition:.2s}
.blog #hero>a:hover{display:block;background:rgba(255,255,255,.1)}
.blog_cats{background:rgba(0,0,0,.6);color:#fff;padding:0 20px;overflow:hidden;position:relative}
.blog_cats a{display:inline-block;padding:12px;color:#fff !important;line-height:17px}
.blog_cats .selected{background:rgba(255,255,255,.2)}
.blog_cats a:hover{background:rgba(255,255,255,.15);text-decoration:none}
.blog_posts>div{font-size:18px;font-weight:bold}
.blog_posts a{display:block;line-height:1.5;color:#333;transition:.2s}
.blog_posts a:hover{opacity:.9}
.blog_posts p{margin:15px 0 10px}
.blog_posts span,.blog_posts span a{display:inline;font-size:14px;font-weight:normal;color:#777}
.blog .pure-u-1>div{margin:30px}
@media screen and (max-width:1120px){.blog .pure-u-1>div{margin:25px 15px}
}
@media screen and (max-width:500px){.blog .pure-u-1>div{margin:25px 0}
}
.blog_content h2{font-size:20px;font-weight:bold;margin:15px 0 20px}
.blog_content img{max-width:100%;height:auto;display:block;margin:30px 0}
.blog_content ol{padding-left:30px}
.blog_content .highlight{padding:10px;margin:20px 0;overflow:auto;font-size:14px;line-height:1.5}
.blog .follow_links a{display:inline-block;width:34px;line-height:34px;text-align:center;background:#888;margin-right:1px}
.blog .follow_links a i{vertical-align:text-top}
.blog .follow_links a:hover{background:#008ddf}
.window{background:#fff;padding:20px 25px;margin:50px auto;max-width:640px;overflow:hidden;border-radius:2px;border:2px solid rgba(0,0,0,.3);-webkit-background-clip:padding-box;background-clip:padding-box}
.message_box{position:fixed;top:0;left:0;right:0;z-index:99999;padding:12px;margin:0 0 10px;box-shadow:0 2px 3px rgba(0,0,0,.1);line-height:1.5;font-size:14px;text-align:center;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,.1);background:#67b446}
.message_box.info{background:#24608c}
.message_box.error{background:#d95353}
.message_box a{color:#fff;border-bottom:1px dashed #fff}
.message_box a:hover{border-bottom-style:solid}
.highlight,ul.errorlist li,div.errorlist{display:block;padding:5px 8px;margin:3px 0;font-size:13px;color:#d95353;background:#fee2e2;border-radius:2px}
.highlight a,ul.errorlist a,div.errorlist a{color:#d95353;text-decoration:underline}
ul.errorlist{list-style:none;margin:0;padding:0}
.highlight{color:#3a87ad;background:#d9edf7}
.highlight a{color:#3a87ad}
#loadingBar{position:fixed;z-index:99999;top:0;left:0;width:0;height:3px;background:#57b057;transition:width 500ms ease-out,opacity 400ms linear}
#loadingBar.error{background:#d95353;box-shadow:#d95353 1px 0 6px 1px;transition:none}
#loadingBar dd,#loadingBar dt{position:absolute;top:0;height:2px;box-shadow:#57b057 1px 0 6px 1px}
#loadingBar dd{opacity:1;width:20px;right:0;clip:rect(-6px,22px,14px,10px)}
#loadingBar dt{opacity:1;width:180px;right:-80px;clip:rect(-6px,90px,14px,-6px)}
.autocomplete-suggestions{cursor:default;border:1px solid #ddd;border-radius:0 0 2px 2px;background:#fff;box-shadow:-1px 1px 3px rgba(0,0,0,.1);position:absolute;display:none;z-index:9999;max-height:250px;overflow:hidden;overflow-y:auto;box-sizing:border-box;margin:0 0 0 -9px}
.autocomplete-suggestion{padding:0 15px;line-height:23px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:17px;color:#333}
.autocomplete-suggestion b{font-weight:normal;color:#bbb}
.autocomplete-suggestion.selected{background:#eee}
#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden}
#cboxWrapper{max-width:none}
#cboxOverlay{position:fixed;width:100%;height:100%}
#cboxMiddleLeft,#cboxBottomLeft{clear:left}
#cboxContent{position:relative}
#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch}
#cboxTitle{margin:0}
#cboxLoadingOverlay{position:absolute;top:0;left:0;width:100%;height:100%}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer}
.cboxPhoto{float:left;margin:auto;border:0;display:block;max-width:none;-ms-interpolation-mode:bicubic}
.cboxIframe{width:100%;height:100%;display:block;border:0;padding:0;margin:0}
#colorbox,#cboxContent,#cboxLoadedContent{box-sizing:content-box}
#cboxOverlay{background:#000}
#colorbox{outline:0;margin:8px 0}
#cboxContent{overflow:hidden}
#cboxLoadedContent{background:#fff;overflow:hidden !important}
#cboxLoadingOverlay{background:#fff}
#cboxContent h6{margin:0;padding:12px 15px;font-weight:normal;font-size:16px;background:#eee;cursor:move}
#cboxContent h6+div{padding:15px;font-size:14px}
#cboxContent h6 a{float:right;font-size:20px;line-height:.9;color:#888;text-decoration:none}
#cboxContent h6 a:hover{color:#555}
#tinymce_body{height:auto;padding:10px;font-size:13px;color:#555}
#tinymce_body iframe{width:100%;max-width:640px;height:380px;margin:10px 0;border:0}
#tinymce_body img{max-width:100%;height:auto}
pre.prettyprint,.blog_content pre,#tinymce_body pre{margin:20px 0;padding:6px 10px 6px 0;max-height:500px;overflow:auto;white-space:pre;font-family:Consolas,'Liberation Mono',Courier,monospace;font-size:14px;line-height:19px;background:#f3f3f3;color:#333;border-radius:2px}
#tinymce_body pre,.blog_content pre{padding:6px 10px;white-space:nowrap}
.blog_content pre.prettyprint{white-space:pre}
pre.prettyprint td{padding:0;border:0}
pre.prettyprint .comment{color:#999}
pre.prettyprint .tag,pre.prettyprint .tag-name{color:navy}
pre.prettyprint .keyword,pre.prettyprint .sass,pre.prettyprint .class,pre.prettyprint .id,pre.prettyprint .storage.function{font-weight:bold}
pre.prettyprint .css-property,pre.prettyprint .css-value,pre.prettyprint .support.namespace{color:#333}
pre.prettyprint .constant.numeric,pre.prettyprint .keyword.unit,pre.prettyprint .hex-color{font-weight:normal;color:#099}
pre.prettyprint .entity.class{color:#458}
pre.prettyprint .function.storage,pre.prettyprint .keyword{color:#0328a7}
pre.prettyprint .keyword.operator{font-weight:normal}
pre.prettyprint .attribute,pre.prettyprint .variable{color:teal}
pre.prettyprint .string,pre.prettyprint .support.value{font-weight:normal;color:#c14447}
pre.prettyprint .regexp{color:#009926}
.rainbow{border-spacing:0;border-collapse:collapse}
.rainbow .line .line-number{background:#f3f3f3;border-right:1px solid #ccc;text-align:right;padding-left:0.8em;padding-right:0.8em;min-width:16px}
.rainbow .line .line-number:before{content:attr(data-line-number)}
.rainbow .line .line-code{padding-left:15px;width:100%}
