#logo
{
    top: -4px;
}
#media_container h3{position:absolute;top:0;left:0;right:0;opacity:0;z-index:100;text-align:left;font-size:16px;text-transform:capitalize;transition:.3s;background:linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);height:46px;line-height:46px;overflow:hidden;padding:0 10px}
#media_container:hover h3 {opacity:1}
#media_container h3 a{color:#fff;padding:4px;border-radius:2px;text-decoration:none;transition:.3s;font-weight:normal;}
#media_container h3 a:hover{color:#fff;background:rgba(255,255,255,.3)}
.fb_iframe_widget span
{
    margin-bottom: -4px;
}

#media_show .like_buttons .pure-button,
#img_click_overlay .like_buttons > span
{
    width: 50%!important;
    max-width: 150px!important;
}

.tab_menu
{
    border-top: 0;
    margin-top: 20px;
}
.tab_menu h1
{
    margin: 0;
    padding: 0 0 5px 25px;
    text-align: left;
    font-size: 22px;
}
.related
{
    text-align: center;
}
.related img
{
    width: auto;
    max-width: 100%;
}
.related span
{
    font-style: italic;
    display: block;
}

.mmo
{
    text-align: center;
}

@media only screen and (max-width:480px)
{
    #media_show .like_buttons .pure-button,
    #img_click_overlay .like_buttons > span
    {
        width: 100%!important;
        max-width: 250px!important;
    }
    .mmo-zoom
    {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.header_search [type="submit"]
{
    background-color: #4da74d;
}